<div th:fragment="chat-list"  th:unless="${#lists.isEmpty(chat)}" >
    <!-- chat -->
    <nav id="concept-chat" class="nav-chat disabled">

        <div class="nav-header">
            <img class="icon" src="resources/img/BUTTON_COMMUNICATION.png" />
            <!--<a href="#"><img class="icon settings" src="resources/img/BUTTON_SETTINGS.png" /></a>-->
            <p class="heading">Chat</p>
            <p class="title" th:inline="text">Logged in as <span id="chat-user" style="color:#888" th:text="${currentUser.getUsername()}"></span></p>
        </div>

        <div class="nav-content">
<!--            <div class="nav-content-header">
                Welcome <span style="color:#eee; font-weight:800" th:text="${currentUser.getUsername()}"></span>
            </div>-->
            <!--                <ul>
                                <li class="placeholder"><img src="resources/img/ICON_CHAT.png" /></li>
                            </ul>-->
            <ul id="chat-list" class="chat-list">
                <li class="chat-message"><span class="chat-user">cparaskeva </span>Hello George, How are you?</li>
                <!--                    <li class="chat-message"><span class="chat-user-you">gtsiolis </span>I am fine Chris! And you?</li>
                                    <li class="chat-message"><span class="chat-user">cparaskeva </span>Very well, thank you.</li>
                                    <li class="chat-message"><span class="chat-user-you">gtsiolis </span>Chris, have you finished searching the new soft materials we were talking about yesterday?</li>
                                    <li class="chat-message"><span class="chat-user">cparaskeva </span>Yeap! I found some interesting providers.</li>
                                    <li class="chat-message"><span class="chat-user-you">gtsiolis </span>Ok Thanks! Let me know when you are available during the day so we can meet and talk about this a bit.</li>    -->
            </ul>

            <ul class="chat-actions">
                <li>
                    <input id="chat-text" class="chat-text" type="text" name="chat-message" rows="1" onkeypress="keyPressedOnTextField(event)" autocomplete="off" />
                    <button id="chat-message" class="btn btn-xs btn-success chat-button" name="sendMessage" onclick="sendMessage()">Send</button>

                </li>
            </ul>
        </div>

    </nav>

    <!-- chat-hidden -->
    <nav class="nav-chat-hidden">
        <div class="nav-header">
            <img class="icon" src="resources/img/BUTTON_COMMUNICATION.png" />
            <a href="#"><img class="icon settings" src="resources/img/BUTTON_SETTINGS.png" /></a>
            <p class="heading">Chat module</p>
            <p class="title">Module hidden</p>
        </div>
    </nav>
</div>