<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Dashboard &mdash; CONCEPT</title>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />	
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

        <link rel="stylesheet" href="resources/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="resources/css/dashboard.css" type="text/css" />
        <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css' />
    </head>
    <body>

        <!-- navbar -->
        <nav class="nav-main">
            <ul>
                <a href="/dashboard"><li class="main"><img src="resources/img/BUTTON_DASHBOARD.png" />Dashboard</li></a>
                <a onclick="TogetherJS(this); return false;"><li class="collaboration"></li></a>
            </ul>
        </nav>

        <!-- apps -->
        <nav class="nav-apps ">
            <ul>
                <li><a href="/ba"><img src="resources/img/ICON_BA.png" /></a></li>
                <li><a href="/fm_all"><img src="resources/img/ICON_FM.png" /></a></li>
                <li><img src="resources/img/ICON_SE.png" /></li>
                <li><img src="resources/img/ICON_MM.png" /></li>
                <li><img src="resources/img/ICON_MB.png" /></li>
                <li><a href="/sk"><img src="resources/img/ICON_SK.png" /></a></li>
            </ul>
        </nav>

        <!-- projects -->
        <nav class="nav-projects">
            <div class="btn-group project-selection">
                <select id="projectSelect" th:if="${!projects.isEmpty()}" class="btn btn-default">
                    <option selected="true" value="0">Please select a project</option>
                    <option th:each="project : ${projects}" th:value="${project.id}" th:text="${project.name}"></option>
                </select>

                <select th:if="${projects.isEmpty()}" class="btn btn-default">
                    <option selected="true" disabled="true">No projects available</option>
                </select>

            </div>          

            <div class="project-selection">

                <!-- Content to be showed only on Project Managers -->
                <div th:if="${currentUser.getRole()} == 'MANAGER'">
                    <button type="button" class="btn btn-success btn-xs"> New Project</button><button type="button" class="btn btn-link btn-xs">Edit Project</button>
                </div>
                <h5 id="projectMembers" class="highlight">Project Members<br/><small></small></h5>
            </div>

        </nav>

        <!-- chat -->
        <nav class="nav-chat disabled">

            <div class="nav-header">
                <img class="icon" src="resources/img/BUTTON_COMMUNICATION.png" />
                <!--<a href="#"><img class="icon settings" src="resources/img/BUTTON_SETTINGS.png" /></a>-->
                <p class="heading">Chat module</p>
                <p class="title" th:inline="text">Logged in as <span style="color:#888" th:text="${currentUser.getUsername()}"></span></p>
            </div>

            <div class="nav-content">
                <div class="nav-content-header">
                    Please select a project
                </div>
                <ul>
                    <li class="placeholder"><img src="resources/img/ICON_CHAT.png" /></li>
                </ul>
            </div>

        </nav>

        <!-- chat-hidden -->
        <nav class="nav-chat-hidden">
            <div class="nav-header">
                <img class="icon" src="resources/img/BUTTON_COMMUNICATION.png" />
                <a href="#"><img class="icon settings" src="resources/img/BUTTON_SETTINGS.png" /></a>
                <p class="heading">Chat module</p>
                <p class="title">Module hidden</p>
            </div>
        </nav>

        <!-- dashboard -->
        <div class="content">
            <div class="header">

                <!-- Profile -->

                <div class="btn-group pull-right">

                    <div class="row col-md-12 pull-right">
                        <h5 th:inline="text" class="pull-right">[[${currentUser.getFirstName()}]] [[${currentUser.getLastName()}]] ([[${currentUser.getUsername()}]]) </h5>
                    </div>
                    <div class="row col-md-12 pull-right">

                        <form th:action="@{/logout}" method="post" class="pull-right" style="margin-left:4px">
                            <button type="submit" class="btn btn-default btn-sm ">
                                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout
                            </button>
                        </form>

                        <form th:action="@{/preferences}" method="post" class="pull-right" style="margin-left:4px">
                            <button type="submit" class="btn btn-default btn-sm ">
                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> 
                            </button>
                        </form>    

                        <form th:action="@{/notifications}" method="post" class="pull-right">
                            <button type="submit" class="btn btn-success btn-sm ">
                                Notifications <span class="badge">2</span>
                            </button>
                        </form>
                    </div>


                </div>
            </div>

            <div id="firstRowContent" class="row">

                <!-- brief analysis -->
                <div class="col-md-4 ">
                    <div id="brDIVbuttons" class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Brief Analysis</h4>
                            <div class="btn-group pull-right">
                                <a id="brBut1" href="/ba" class="btn btn-default btn-sm disabled"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create New</a>
                            </div>
                        </div>
                        <div id="brDIVtable" class="panel-body no-padding">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="col-md-6">Timestamp</th>
                                        <th>User</th>
                                        <th class="col-md-4"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Tue 22 Jun, 2015 - 16:30</td>
                                        <td>user3</td>
                                        <td><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> &nbsp;
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> &nbsp;
                                            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> &nbsp; 
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Tue 22 Jun, 2015 - 13:20</td>
                                        <td>user5</td>
                                        <td><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> &nbsp;
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> &nbsp;
                                            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> &nbsp; 
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Tue 22 Jun, 2015 - 11:33</td>
                                        <td>user1</td>
                                        <td><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> &nbsp;
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> &nbsp;
                                            <span class="glyphicon glyphicon-thumbs-up icon-active" aria-hidden="true"></span> &nbsp; 
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Tue 22 Jun, 2015 - 11:33</td>
                                        <td>user1</td>
                                        <td><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> &nbsp;
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> &nbsp;
                                            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> &nbsp; 
                                            <span class="glyphicon glyphicon-star icon-active" aria-hidden="true"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Tue 22 Jun, 2015 - 11:33</td>
                                        <td>user1</td>
                                        <td><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> &nbsp;
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> &nbsp;
                                            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> &nbsp; 
                                            <span class="glyphicon glyphicon-star icon-active" aria-hidden="true"></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="panel-footer">
                            <!--<a href=""><span class="glyphicon glyphicon-share" aria-hidden="true"></span>Text Annotation Tool</a>-->
                            Brief Analysis Documents (5) - <a href="">View All</a>
                        </div>
                    </div>
                </div>

                <!-- file management -->
                <div class="col-md-4">
                    <div id="fmDIVbuttons" class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <h4 class="panel-title pull-left" style="padding-top: 7.5px;">File Management</h4>
                            <div class="btn-group pull-right">
                                <a id="fmBut1" href="#" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add File</a>
                            </div>
                        </div>
                        <div id="fmDIVtable" class="panel-body">
                            <img src="resources/img/fm_00001.jpg" alt="..." class="img-thumbnail" />
                            <img src="resources/img/fm_00002.jpg" alt="..." class="img-thumbnail" />
                            <img src="resources/img/fm_00003.jpg" alt="..." class="img-thumbnail" />
                            <img src="resources/img/fm_00004.jpg" alt="..." class="img-thumbnail" />
                            <img src="resources/img/fm_00005.jpg" alt="..." class="img-thumbnail" />
                            <img src="resources/img/fm_00006.jpg" alt="..." class="img-thumbnail" /> 
                            <img src="resources/img/fm_00007.jpg" alt="..." class="img-thumbnail" />
                            <img src="resources/img/fm_00008.jpg" alt="..." class="img-thumbnail" />
                            <img src="resources/img/fm_00009.jpg" alt="..." class="img-thumbnail" /> 
                        </div>
                        <div class="panel-footer">
                            <!--<a href=""><span class="glyphicon glyphicon-share" aria-hidden="true"></span> KOS (Knowledge Organization System)</a>-->
                            Files (123) - <a href="/fm_all">View All</a>
                        </div>
                    </div>
                </div>

                <!-- search engine -->
                <div class="col-md-4">
                    <div id="seDIVbuttons" class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Search Engine</h4>
                            <div  class="btn-group pull-right">
                                <a id="seBut1" href="#" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Query</a>
                            </div>
                        </div>
                        <div class="panel-body no-padding">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="col-md-6">Recent Search Queries</th>
                                        <th class="col-md-4"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>"chair with blue color"</td>
                                        <td><span class="glyphicon glyphicon-search pull-right" aria-hidden="true"></span></td>
                                    </tr>
                                    <tr>
                                        <td><img src="resources/img/fm_00005.jpg" alt="..." class="img-thumbnail" /></td>
                                       <td><span class="glyphicon glyphicon-search pull-right" aria-hidden="true"></span></td>
                                    </tr>
                                    <tr>
                                        <td>"chair without arms"</td>
                                        <td><span class="glyphicon glyphicon-search pull-right" aria-hidden="true"></span></td>
                                    </tr>
                                    <tr>
                                        <td>"double handle cup"</td>
                                        <td><span class="glyphicon glyphicon-search pull-right" aria-hidden="true"></span></td>
                                    </tr>
                                    <tr>
                                        <td><img src="resources/img/fm_00001.jpg" alt="..." class="img-thumbnail" /></td>
                                        <td><span class="glyphicon glyphicon-search pull-right" aria-hidden="true"></span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                      
                        <div class="panel-footer">
                            <!--<a href=""><span class="glyphicon glyphicon-share" aria-hidden="true"></span> Search Engine</a>-->
                            Saved Search Queries (214) - <a href="">View All</a>
                        </div>
                    </div>
                </div>
            </div>

            <div id="secondRowContent" class="row">

                <!-- mindmaps -->
                <div class="col-md-4">
                    <div id="mmDIVbuttons" class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Mindmaps</h4>
                            <div  class="btn-group pull-right">
                                <a id="mmBut1" href="#" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New</a>
                            </div>
                        </div>
                        <div class="panel-body no-padding">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="col-md-6">Recent Mindmaps</th>
                                        <th>User</th>
                                        <th class="col-md-4"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><img src="resources/img/mm_00001.jpg" alt="..." class="img-thumbnail" /></td>
                                        <td>user3</td>
                                        <td><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> &nbsp;
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> &nbsp;
                                            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> &nbsp; 
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><img src="resources/img/mm_00002.jpg" alt="..." class="img-thumbnail" /></td>
                                        <td>user5</td>
                                        <td><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> &nbsp;
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> &nbsp;
                                            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> &nbsp; 
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><img src="resources/img/mm_00003.jpg" alt="..." class="img-thumbnail" /></td>
                                        <td>user1</td>
                                        <td><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> &nbsp;
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> &nbsp;
                                            <span class="glyphicon glyphicon-thumbs-up icon-active" aria-hidden="true"></span> &nbsp; 
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="panel-footer">
                            Mind Maps (14) - <a href="">View All</a>
                        </div>
                    </div>
                </div>

                <!-- storyboards -->
                <div class="col-md-4">
                    <div id="mbDIVbuttons" class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Storyboards</h4>
                            <div  class="btn-group pull-right">
                                <a id="mbBut1" href="#" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Scene/Moodboard</a>
                                <a id="mbBut2" href="#" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Storyboard</a>
                            </div>
                        </div>
                        <div class="panel-body no-padding">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="col-md-6">Recent Storyboards</th>
                                        <th>User</th>
                                        <th class="col-md-4"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><img src="resources/img/sb_00001.png" alt="..." class="img-thumbnail" /></td>
                                        <td>user3</td>
                                        <td><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> &nbsp;
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> &nbsp;
                                            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> &nbsp; 
                                            <span class="glyphicon glyphicon-star icon-active" aria-hidden="true"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><img src="resources/img/sb_00002.png" alt="..." class="img-thumbnail" /></td>
                                        <td>user5</td>
                                        <td><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> &nbsp;
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> &nbsp;
                                            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> &nbsp; 
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><img src="resources/img/sb_00003.png" alt="..." class="img-thumbnail" /></td>
                                        <td>user1</td>
                                        <td><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> &nbsp;
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> &nbsp;
                                            <span class="glyphicon glyphicon-thumbs-up icon-active" aria-hidden="true"></span> &nbsp; 
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="panel-footer">
                            Story Boards (14) - <a href="">View All</a>
                        </div>
                    </div>
                </div>

                <!-- sketches -->
                <div class="col-md-4">
                    <div id="skDIVbuttons"  class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Sketches</h4>
                            <div class="btn-group pull-right">
                                <a id="skBut1" href="/sk" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New</a>
                            </div>
                        </div>
                        <div class="panel-body no-padding">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="col-md-6">Thumbnail</th>
                                        <th>User</th>
                                        <th class="col-md-4"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><img src="resources/img/sk_00001.png" alt="..." class="img-thumbnail" /></td>
                                        <td>user3</td>
                                        <td><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> &nbsp;
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> &nbsp;
                                            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> &nbsp; 
                                            <span class="glyphicon glyphicon-star icon-active" aria-hidden="true"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><img src="resources/img/sk_00002.png" alt="..." class="img-thumbnail" /></td>
                                        <td>user5</td>
                                        <td><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> &nbsp;
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> &nbsp;
                                            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> &nbsp; 
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><img src="resources/img/sk_00003.png" alt="..." class="img-thumbnail" /></td>
                                        <td>user1</td>
                                        <td><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> &nbsp;
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> &nbsp;
                                            <span class="glyphicon glyphicon-thumbs-up icon-active" aria-hidden="true"></span> &nbsp; 
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="panel-footer">
                            Sketches (44) - <a href="">View All</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="resources/js/jquery-1.11.2.min.js"></script>
        <script src="resources/js/bootstrap.min.js"></script>
        <script src="resources/js/togetherjs-min.js"></script>
        <!--Javascript file handling various actions of dashboard page -->
        <script src="resources/js/dashboard.js"></script>

    </body>
</html>
