<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Dashboard &mdash; CONCEPT</title>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />	
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

        <link rel="stylesheet" href="/resources/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="/resources/css/magnific-popup.css" type="text/css" />
        <link rel="stylesheet" href="/resources/css/dashboard.css" type="text/css" />
        <!-- Metadata -->
        <link rel="stylesheet" href="/resources/css/literallycanvas.css" type="text/css" />
        <link rel="stylesheet" href="/resources/css/jquery.tagsinput.min.css" type="text/css" />
        <link rel="stylesheet" href="/resources/css/jqtree.css" type="text/css" />
        <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css' />
    </head>
    <body>        


        <!-- navbar -->
        <nav class="nav-main">
            <ul>
                <form id="dashboard-form" th:action="@{/dashboard}" method="post" >
                    <a href="#" onclick="addProjectIDToForm('dashboard-form');
                            $(this).closest('form').submit()">
                        <li class="main"><img src="/resources/img/BUTTON_DASHBOARD.png" />Dashboard</li>
                    </a>
                </form>                              
                <a onclick="TogetherJS(this);
                        return false;"><li class="collaboration"></li></a>
            </ul>
        </nav>

        <!-- apps -->
        <nav class="nav-apps">
            <ul>
                <li><form id="ba-app-link-form" action="#" method="post" th:action="@{/ba_app}"><button onclick="addProjectIDToForm('ba-app-link-form')" type="submit" id="ba-app-link" class="app-link"><img src="/resources/img/ICON_BA.png" /></button></form></li> 
                <li><form id="fm-app-link-form" action="#" method="post" th:action="@{/fm_app}"><button onclick="addProjectIDToForm('fm-app-link-form')" type="submit" id="fm-app-link" class="app-link"><img src="/resources/img/ICON_FM.png" /></button></form></li>
                <li><form id="se-app-link-form" action="#" method="post" th:action="@{/se_app}"><button onclick="addProjectIDToForm('se-app-link-form')" type="submit" id="se-app-link" class="app-link"><img src="/resources/img/ICON_SE.png" /></button></form></li>
                <li><form id="mm-app-link-form" action="#" method="post" th:action="@{/mm_app}"><button onclick="addProjectIDToForm('mm-app-link-form')" type="submit" id="mm-app-link" class="app-link"><img src="/resources/img/ICON_MM.png" /></button></form></li>
                <li><form id="sb-app-link-form" action="#" method="post" th:action="@{/sb_app}"><button onclick="addProjectIDToForm('sb-app-link-form')" type="submit" id="sb-app-link" class="app-link"><img src="/resources/img/ICON_SB.png" /></button></form></li>
                <li><form id="sk-app-link-form" action="#" method="post" th:action="@{/sk_app}"><button onclick="addProjectIDToForm('sk-app-link-form')" type="submit" id="sk-app-link" class="app-link"><img src="/resources/img/ICON_SK.png" /></button></form></li>
            </ul>

        </nav>

        <!-- projects -->
        <nav class="nav-projects">
            <div class="btn-group project-selection">
                <select id="project-select" th:if="${!projects.isEmpty()}" class="btn btn-default">
                    <option selected="true" value="0">Please select a project</option>
                    <option th:each="project : ${projects}" th:value="${project.id}" th:text="${project.name}"></option>
                </select>

                <select th:if="${projects.isEmpty()}" class="btn btn-default">
                    <option selected="true" disabled="true">No projects available</option>
                </select>

            </div>          

            <div class="project-selection">
                <input type="hidden" th:value="${projectID}"  name="projectID" id="projectID" class="form-control" />

                <!-- Content to be showed only on project members (managers, designers, clients) -->
                <div th:switch="${currentUser.getRole()}">
                    <span th:case="'MANAGER'">
                        <a href="http://192.168.3.5/projects/new?parent_id=project-area" target="_blank" class="btn btn-success btn-xs">New Project</a><a target="_blank" id="project-view" type="button" class="btn btn-link btn-xs">View Project</a>
                    </span>
                    <span th:case="'DESIGNER'">
                        <a target="_blank" id="project-view" type="button" class="btn btn-link btn-xs">View Project</a>
                    </span>
                    <span th:case="'CLIENT'">
                        <a target="_blank" id="project-view" type="button" class="btn btn-link btn-xs">View Project</a>
                    </span>
                </div>

                <h5 id="project-members" class="highlight">Project Members<br/><small></small></h5>
            </div>

        </nav>

        <!-- Chat DIV -->
        <div th:include="chat :: chat-list"></div>

        <!-- Metadata Content -->
        <div id="metadata-area"></div>

        <input th:if="${_csrf}" id="_csrf" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

        <!-- dashboard -->
        <div class="content">

            <div class="header">

                <!-- Profile -->
                <div class="btn-group pull-right">
                    <div class="row col-md-12 pull-right">
                        <h5 th:inline="text" class="pull-right"> [[${currentUser.getFirstName()}]] [[${currentUser.getLastName()}]] ([[${currentUser.getUsername()}]]) </h5>
                    </div>
                    <div class="row col-md-12 pull-right">
                        <form th:action="@{/logout}" method="post" class="pull-right" style="margin-left:4px">
                            <button type="submit" class="btn btn-default btn-sm ">
                                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout
                            </button>
                        </form>
                        <form th:action="@{/preferences}" method="get" class="pull-right" style="margin-left:4px">
                            <button type="submit" class="btn btn-default btn-sm ">
                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> 
                            </button>
                        </form>

                        <!-- Notifications Button -->
                        <form id="nf-app-link-form" action="#" method="post" th:action="@{/notifications_app}">
                            <button id="notifications-btn" onclick="addProjectIDToForm('nf-app-link-form')" type="submit" class="btn btn-success btn-sm pull-right">
                                Notifications <span id="notifications-count" class="badge">0</span>
                            </button>
                        </form>

                    </div>

                </div>
            </div>

            <div id="row1" class="row">

                <!-- brief analysis -->
                <div class="col-md-4 ">
                    <div id="ba-buttons" class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <h4 class="panel-title pull-left">Brief Analysis</h4>
                            <div class="btn-group pull-right">
                                <form id="ba-add-form" action="#" method="post" th:action="@{/ba_app}">
                                    <button onclick="addProjectIDToForm('ba-add-form')" type="submit" id="ba-add" href="" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create New</button>
                                </form>
                            </div>
                        </div>

                        <div id="ba-placeholder" class="panel-body disabled"></div>
                        <div id="ba-dashboard"></div>

                    </div>
                </div>

                <!-- file management -->
                <div class="col-md-4">
                    <div id="fm-buttons" class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <h4 class="panel-title pull-left">File Management</h4>
                            <div class="btn-group pull-right">
                                <form id="fm-add-form" action="#" method="post" th:action="@{/fm_app}">
                                    <button onclick="addProjectIDToForm('fm-add-form')" type="submit" id="fm-add" href="" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Upload File</button>
                                </form>
                            </div>
                        </div>

                        <div id="fm-placeholder" class="panel-body disabled"></div>
                        <div id="fm-dashboard"></div>

                    </div>
                </div>

                <!-- search engine -->
                <div class="col-md-4">
                    <div id="se-buttons" class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <h4 class="panel-title pull-left">Search Engine</h4>
                            <div  class="btn-group pull-right">
                                <form id="se-add-form" action="#" method="post" th:action="@{/se_app}">
                                    <button onclick="addProjectIDToForm('se-add-form')" type="submit" id="se-add" href="" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Query</button>
                                </form>
                            </div>
                        </div>

                        <div id="se-placeholder" class="panel-body disabled"></div>
                        <div id="se-dashboard"></div>

                    </div>
                </div>
            </div>

            <div id="row2" class="row">

                <!-- mindmaps -->
                <div class="col-md-4">
                    <div id="mm-buttons" class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <h4 class="panel-title pull-left">Mindmaps</h4>
                            <div  class="btn-group pull-right">
                                <button onclick="createMindMap()" id="mm-add" href="" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Mindmap</button>
                            </div>
                        </div>

                        <div id="mm-placeholder" class="panel-body disabled"></div>
                        <div id="mm-dashboard"></div>

                    </div>
                </div>

                <!-- storyboards -->
                <div class="col-md-4">
                    <div id="sb-buttons" class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <h4 class="panel-title pull-left">Storyboards</h4>
                            <div  class="btn-group pull-right">
                                <form id="sb-add-form" action="#" method="post" th:action="@{/sb_app}">
                                    <button onclick="addProjectIDToForm('sb-add-form')" type="submit" id="mb-add" href="" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Scene/Moodboard</button>
                                    <button onclick="addProjectIDToForm('sb-add-form')" type="submit" id="sb-add" href="" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Storyboard</button>
                                </form>
                            </div>
                        </div>

                        <div id="sb-placeholder" class="panel-body disabled"></div>
                        <div id="sb-dashboard"></div>

                    </div>
                </div>

                <!-- sketches -->
                <div class="col-md-4">
                    <div id="sk-buttons" class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <h4 class="panel-title pull-left">Sketches</h4>
                            <div class="btn-group pull-right">
                                <form id="sk-add-form" action="#" method="post" th:action="@{/sk_app}">
                                    <button onclick="addProjectIDToForm('sk-add-form')" type="submit" id="sk-add" href="" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Sketch</button>
                                </form>
                            </div>
                        </div>

                        <div id="sk-placeholder" class="panel-body disabled"></div>
                        <div id="sk-dashboard"></div>

                    </div>
                </div>
            </div>
        </div>

        <input type="hidden" th:value="${#httpServletRequest.getParameter('projectID')}"  name="projectID" id="projectID" class="form-control" />

        <!-- Core JS libraries -->
        <script src="/resources/js/jquery-1.11.2.min.js"></script>
        <script src="/resources/js/bootstrap.min.js"></script>
        <script src="/resources/js/togetherjs-min.js"></script>
        <script src="/resources/js/jquery.magnific-popup.min.js"></script>

        <!-- Javascript file handling various actions of dashboard page -->
        <script src="/resources/js/util.js"></script>
        <script src="/resources/js/dashboard.js"></script>

        <!-- Metadata -->
        <script src="/resources/js/jquery.tagsinput.min.js"></script>
        <script src="/resources/js/tree.jquery.js"></script>
        <script src="/resources/js/metadata.js"></script>

        <!-- COnCEPT-Chat JS -->
        <script src="/resources/js/sockjs.min.js"></script>
        <script src="/resources/js/stomp.min.js"></script>
        <script src="/resources/js/chat.js"></script>

    </body>
</html>