<div  th:fragment="fmContentList"  th:unless="${#lists.isEmpty(fmContents)}" > 
    <div class="panel-body" >
        <!--                            <a href=""><img src="resources/img/fm_00001.jpg" alt="..." class="img-thumbnail" /></a>
                        <a href=""><img src="resources/img/fm_00002.jpg" alt="..." class="img-thumbnail" /></a>
                        <a href=""><img src="resources/img/fm_00003.jpg" alt="..." class="img-thumbnail" /></a>
                        <a href=""><img src="resources/img/fm_00004.jpg" alt="..." class="img-thumbnail" /></a>
                        <a href=""><img src="resources/img/fm_00005.jpg" alt="..." class="img-thumbnail" /></a>
                        <a href=""><img src="resources/img/fm_00006.jpg" alt="..." class="img-thumbnail" /></a>
                        <a href=""><img src="resources/img/fm_00007.jpg" alt="..." class="img-thumbnail" /></a>
                        <a href=""><img src="resources/img/fm_00008.jpg" alt="..." class="img-thumbnail" /></a>
                        <a href=""><img src="resources/img/fm_00009.jpg" alt="..." class="img-thumbnail" /></a>-->
        <a th:each="fmContent : ${fmContents}" th:href="@{'/image/'+${fmContent.id}}"><img th:src="@{'/image/'+${fmContent.id}}"  th:title="${fmContent.filename}" src="resources/img/fm_00002.jpg"  th:alt="${fmContent.filename}"     class="img-thumbnail" /></a>
    </div>

    <div class="panel-footer">
        Files ( <span th:text="${maxFiles}"> </span> ) - <a href="/fm_all">View All</a>
    </div>
</div>