<div th:fragment="notifications-list">

    <div class="row">

        <div class="col-md-12">
            <div id="fmDIVbuttons" class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Notifications</h4>
                    <div class="btn-group pull-right">
                        <a id="nf-button" href="#" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Mark all as read</a>
                    </div>
                </div>
                <div class="panel-body no-padding">
                    <table class="table table-striped">
                        <thead> 
                            <tr>
                                <th class="col-md-1">Tool</th>
                                <th class="col-md-5">Operation</th>
                                <th class="col-md-3">User</th>
                                <th class="col-md-3">Timestamp</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="nfContent : ${nfContents}"  th:class="( ${#dates.format(#calendars.createToday(), 'yyyy-MM-dd')}   == ${ #strings.substring(nfContent.createdDate,0,10)   } ? 'warning' : '' )">                              
                                <td><img class="notification" th:src="@{'/resources/img/'+ ${nfContent.toolImg} + '.png' } " /></td>
                                <td><strong> <span th:text="${nfContent.operation}"> </span></strong> <span th:text="${nfContent.message}"> </span>  <img class="thumbnail" th:src="${nfContent.thumbnail}" /></td>
                                <td> <span  th:text="@{${nfContent.uid.firstName} + ' '+ ${nfContent.uid.lastName} + ' (' +  ${nfContent.uid.username} +')'}"></span></td>                                
                                <td><span  th:text="${#strings.substring(nfContent.createdDate,0,16)}"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Load more button -->
                <div class="panel-footer" style="text-align:center">
                    <a href="#" th:action="@{/load}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span> Load more</a>
                </div>

                <!-- Nothing more to load button -->
                <div class="panel-footer" style="text-align:center">
                    <a href="#" th:action="@{/load}" class="btn btn-default btn-sm disabled"><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span> Nothing more to load</a>
                </div>
            </div>
        </div>

    </div>
</div>