<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Preferences Analysis &mdash; CONCEPT</title>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />	
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

        <link rel="stylesheet" href="/resources/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="/resources/css/dashboard.css" type="text/css" />
        <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css' />
    </head>
    <body>

        <!-- navbar -->
        <nav class="nav-main">
            <ul>
                <form id="ba-form" th:action="@{/dashboard}" method="post" >
                    <a href="#" onclick="addProjectIDToForm('ba-form');$(this).closest('form').submit()">
                        <li class="main"><img src="/resources/img/BUTTON_DASHBOARD.png" />Dashboard</li>
                    </a>
                </form>
                <a onclick="TogetherJS(this);
                        return false;"><li class="collaboration"></li></a>
            </ul>
        </nav>

        <!-- apps -->
        <nav class="nav-apps">
            <ul class="disabled">
                <li><img src="/resources/img/ICON_BA_DISABLED.png" /></li>
                <li><img src="/resources/img/ICON_FM_DISABLED.png" /></li>
                <li><img src="/resources/img/ICON_SE_DISABLED.png" /></li>
                <li><img src="/resources/img/ICON_MM_DISABLED.png" /></li>
                <li><img src="/resources/img/ICON_SB_DISABLED.png" /></li>
                <li><img src="/resources/img/ICON_SK_DISABLED.png" /></li>
            </ul>
        </nav>

        <!-- projects -->
        <nav class="nav-projects">
            <div class="btn-group project-selection">
                <select id="project-select" th:if="${!projects.isEmpty()}" class="btn btn-default disabled">
                    <option selected="true" value="0">Please select a project</option>
                    <option th:each="project : ${projects}" th:value="${project.id}" th:text="${project.name}"></option>
                </select>

                <select th:if="${projects.isEmpty()}" class="btn btn-default">
                    <option selected="true" disabled="true">No projects available</option>
                </select>

            </div>          

            <div class="project-selection">

                <!-- Content to be showed only on project members (managers, designers, clients) -->
                <div th:switch="${currentUser.getRole()}">
                    <span th:case="'MANAGER'">
                        <a href="http://192.168.3.5/projects/new?parent_id=project-area" target="_blank" class="btn btn-success btn-xs">New Project</a><a target="_blank" id="project-view" type="button" class="btn btn-link btn-xs">View Project</a>
                    </span>
                    <span th:case="'DESIGNER'">
                        <a target="_blank" id="project-view" type="button" class="btn btn-link btn-xs">View Project</a>
                    </span>
                    <span th:case="'CLIENT'">
                        <a target="_blank" id="project-view" type="button" class="btn btn-link btn-xs">View Project</a>
                    </span>
                </div>

                <h5 id="project-members" class="highlight">Project Members<br/><small></small></h5>
            </div>

        </nav>


        <!-- Info Message -->
        <nav th:if="null != ${success}" class="nav-actions">      

            <div class="alert alert-warning alert-dismissible btn-actions" role="alert" >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span th:text="${success}"> </span>
            </div>
        </nav>

        <nav th:if="null != ${error}" class="nav-actions">      

            <div class="alert alert-danger alert-dismissible btn-actions" role="alert" >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span>Could not save to Concept DB</span>
            </div>
        </nav>


        <!-- chat -->
        <nav class="nav-chat disabled">

            <div class="nav-header">
                <img class="icon" src="/resources/img/BUTTON_COMMUNICATION.png" />
                <!--<a href="#"><img class="icon settings" src="resources/img/BUTTON_SETTINGS.png" /></a>-->
                <p class="heading">Chat module</p>
                <p class="title" th:inline="text">Logged in as <span style="color:#888" th:text="${currentUser.getUsername()}"></span></p>
            </div>

            <div class="nav-content">
                <div class="nav-content-header">
                    Please select a project
                </div>
                <ul>
                    <li class="placeholder"><img src="/resources/img/ICON_CHAT.png" /></li>
                </ul>
            </div>

        </nav>

        <!-- chat-hidden -->
        <nav class="nav-chat-hidden">
            <div class="nav-header">
                <img class="icon" src="/resources/img/BUTTON_COMMUNICATION.png" />
                <a href="#"><img class="icon settings" src="/resources/img/BUTTON_SETTINGS.png" /></a>
                <p class="heading">Chat module</p>
                <p class="title">Module hidden</p>
            </div>
        </nav>

        <!-- dashboard -->
        <div class="content">
            <form  id="ba-form" class="form-inline" method="post" th:action="@{/ba_app_edit}" action="#" th:object="${briefanalysis}">
                <div class="form-group document-title">
                    <input type="hidden" th:value="${projectID}"  name="projectID" id="projectID" class="form-control"    />
                    <input type="hidden" th:value="*{pid}"  name="pid" id="pid" class="form-control"    />
                    <input th:if="null != ${briefanalysis.uid}" type="hidden" th:value="${briefanalysis.uid.id}"  th:field="*{uid.id}"  name="uid" id="uid" class="form-control"    />
                    <input type="hidden" th:value="${briefanalysis.id}"   th:field="*{id}" class="form-control input-sm" id="ba-id" name="ba-id" size="50" value="BA_00001"/>
                    <label for="document-title">Brief Analysis Title</label>
                    <input th:value="${briefanalysis.title}"   th:field="*{title}" type="text" class="form-control input-sm" id="document-title" name="document-title" size="50" placeholder="Untitled"/>
                    <input type="submit" class="btn btn-xs btn-danger" value="Save content"   name="editBA"/>
                    <!-- <input type="button" class="btn btn-xs btn-danger" value="Save content" onclick="saveBAContent()" /> -->
                    <!-- <input type="button" class="btn btn-xs btn-danger" value="Load content" onclick="loadBAContent()" /> -->
                </div>
                <textarea th:text="${briefanalysis.content}" th:field="*{content}" name="document-content"></textarea>
            </form>
        </div>

        <script src="/resources/js/jquery-1.11.2.min.js"></script>
        <script src="/resources/js/bootstrap.min.js"></script>
        <script src="/resources/js/togetherjs-min.js"></script>
        <script src="/resources/js/tinymce/tinymce.min.js"></script>
        <script src="/resources/js/util.js"></script>
        <script>tinymce.init({selector: 'textarea'});</script>
    </body>
</html> 



<!--
<script type="text/javascript">
    $('#baForm').submit(function (ev) {
        

     $.ajax({
            type: $('#baForm').attr('method'),
            url: $('#baForm').attr('action'),
            data: $('#baForm').serialize(),
            success: function (data) {
                alert('ok');
            }
        });


        ev.preventDefault();
    });
</script>-->

