<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Preferences Analysis &mdash; CONCEPT</title>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />	
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

        <link rel="stylesheet" href="/resources/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="/resources/css/dashboard.css" type="text/css" />
        <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css' />
    </head>
    <body>

        <!-- navbar -->
        <nav class="nav-main">
            <ul>
                <form id="dashboard-form" th:action="@{/dashboard}" method="post" >
                    <a href="#" onclick="addProjectIDToForm('dashboard-form');
                            $(this).closest('form').submit()">
                        <li class="main"><img src="/resources/img/BUTTON_BACK.png" />Dashboard</li>
                    </a>
                </form>                              
                <a onclick="TogetherJS(this);
                        return false;"><li class="collaboration"></li></a>
            </ul>
        </nav>

        <!-- apps -->
        <nav class="nav-apps disabled">
            <ul>
                <li><form id="ba-app-link-form" action="#" method="post" th:action="@{/ba_app}"><button onclick="addProjectIDToForm('ba-app-link-form')" type="submit" id="ba-app-link" class="app-link"><img src="/resources/img/ICON_BA.png" /></button></form></li> 
                <li><form id="fm-app-link-form" action="#" method="post" th:action="@{/fm_app}"><button onclick="addProjectIDToForm('fm-app-link-form')" type="submit" id="fm-app-link" class="app-link"><img src="/resources/img/ICON_FM.png" /></button></form></li>
                <li><form id="se-app-link-form" action="#" method="post" th:action="@{/se_app}"><button onclick="addProjectIDToForm('se-app-link-form')" type="submit" id="se-app-link" class="app-link"><img src="/resources/img/ICON_SE.png" /></button></form></li>
                <li><form id="mm-app-link-form" action="#" method="post" th:action="@{/mm_app}"><button onclick="addProjectIDToForm('mm-app-link-form')" type="submit" id="mm-app-link" class="app-link"><img src="/resources/img/ICON_MM.png" /></button></form></li>
                <li><form id="sb-app-link-form" action="#" method="post" th:action="@{/sb_app}"><button onclick="addProjectIDToForm('sb-app-link-form')" type="submit" id="sb-app-link" class="app-link"><img src="/resources/img/ICON_SB.png" /></button></form></li>
                <li><form id="sk-app-link-form" action="#" method="post" th:action="@{/sk_app}"><button onclick="addProjectIDToForm('sk-app-link-form')" type="submit" id="sk-app-link" class="app-link"><img src="/resources/img/ICON_SK.png" /></button></form></li>
            </ul>

        </nav>

        <!-- Chat DIV -->
        <div th:include="chat :: chat-list"></div>

        <!-- dashboard -->
        <div class="content">

            <div class="header">
                <a href="/" class="btn btn-link btn-xs back-button" value="Back">&larr; Back</a>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="dashboard-login">

                        <section id="login">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-wrap">

                                            <div th:if="${param.error}" class="alert alert-danger" role="alert">Error. Please try again.</div>
                                            <div th:if="${new_password}" class="alert alert-success" role="alert"><p th:text="${new_password}"></p></div>


                                            <h5 class="heading">Change your password</h5>
                                            <form role="form" th:action="@{/change-password}" method="post" id="login-form" autocomplete="off">
                                                <input th:if="${_csrf}" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                                <div class="form-group">
                                                    <label for="key" class="sr-only">Current Password</label>
                                                    <input type="password" name="current-password" id="current-password" class="form-control" placeholder="Current Password" />
                                                </div>
                                                
                                                <div class="form-group">
                                                    <label for="key" class="sr-only">New Password</label>
                                                    <input type="password" name="new-password" id="new-password" class="form-control" placeholder="New Password" />
                                                </div>

                                                <input type="submit" value="Change Password" class="btn btn-danger"/>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </section>

                    </div>
                </div>
            </div>
        </div>

        <script src="/resources/js/jquery-1.11.2.min.js"></script>
        <script src="/resources/js/bootstrap.min.js"></script>
        <script src="/resources/js/togetherjs-min.js"></script>
        <script src="/resources/js/util.js"></script>
    </body>
</html> 