<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Preferences Analysis &mdash; CONCEPT</title>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />	
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

        <link rel="stylesheet" href="/resources/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="/resources/css/dashboard.css" type="text/css" />
        <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css' />
    </head>
    <body>

        <!-- navbar -->
        <nav class="nav-main">
            <ul>
                <form id="dashboard-form" th:action="@{/dashboard}" method="post" >
                    <a href="#" onclick="addProjectIDToForm('dashboard-form');
                            $(this).closest('form').submit()">
                        <li class="main"><img src="/resources/img/BUTTON_BACK.png" />Dashboard</li>
                    </a>
                </form>                              
                <a onclick="TogetherJS(this);
                        return false;"><li class="collaboration"></li></a>
            </ul>
        </nav>

        <!-- apps -->
        <nav class="nav-apps">
            <ul class="disabled">
                <li><img src="/resources/img/ICON_BA_DISABLED.png" /></li>
                <li><img src="/resources/img/ICON_FM_DISABLED.png" /></li>
                <li><img src="/resources/img/ICON_SE_DISABLED.png" /></li>
                <li><img src="/resources/img/ICON_MM_DISABLED.png" /></li>
                <li><img src="/resources/img/ICON_SB_DISABLED.png" /></li>
                <li><img src="/resources/img/ICON_SK_DISABLED.png" /></li>
            </ul>
        </nav>

        <!-- dashboard -->
        <div class="content">

            <div class="header">
                <a href="/" class="btn btn-link btn-xs back-button" value="Back">&larr; Back</a>
                
                                <!-- Profile -->
                <div class="btn-group pull-right">
                    <div class="row col-md-12 pull-right">
                        <h5 th:inline="text" class="pull-right"> [[${currentUser.getFirstName()}]] [[${currentUser.getLastName()}]] ([[${currentUser.getUsername()}]]) </h5>
                    </div>
                    <div class="row col-md-12 pull-right">
                        <form th:action="@{/logout}" method="post" class="pull-right" style="margin-left:4px">
                            <button type="submit" class="btn btn-default btn-sm ">
                                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout
                            </button>
                        </form>
                        <form th:action="@{/preferences}" method="post" class="pull-right" style="margin-left:4px">
                            <button type="submit" class="btn btn-default btn-sm btn-danger">
                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> 
                            </button>
                        </form>
                   
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="dashboard-login">

                        <section id="login">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-wrap">

                                            <div th:if="${param.error}" class="alert alert-danger" role="alert">Error. Please try again.</div>
                                            <div th:if="${new_password}" class="alert alert-success" role="alert"><p th:text="${new_password}"></p></div>


                                            <h5 class="heading">Change your password</h5>
                                            <form role="form" th:action="@{/change-password}" method="post" id="login-form" autocomplete="off">
                                                <input th:if="${_csrf}" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                                <div class="form-group">
                                                    <label for="key" class="sr-only">Current Password</label>
                                                    <input type="password" name="currentPassword" id="currentPassword" class="form-control" placeholder="Current Password" />
                                                </div>
                                                
                                                <div class="form-group">
                                                    <label for="key" class="sr-only">New Password</label>
                                                    <input type="password" name="newPassword" id="newPassword" class="form-control" placeholder="New Password" />
                                                </div>

                                                <input type="submit" value="Change Password" class="btn btn-danger"/>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </section>

                    </div>
                </div>
            </div>
        </div>

        <script src="/resources/js/jquery-1.11.2.min.js"></script>
        <script src="/resources/js/bootstrap.min.js"></script>
        <script src="/resources/js/togetherjs-min.js"></script>
        <script src="/resources/js/util.js"></script>
    </body>
</html> 