<div th:fragment="skContentList"  th:unless="${#lists.isEmpty(skContents)}" >
    
    <div class="panel-body no-padding" >
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-md-5">Recent Uploaded Files</th>
                    <th class="col-md-2">User</th>
                    <th class="col-md-5"></th>
                </tr>
            </thead>
            <tbody>            
                <tr th:each="skContent : ${skContents}">
                    <td><a th:href="@{'/sk_app/' +${skContent.id}}"><img  th:src="${skContent.contentThumbnail}"  class="img-thumbnail" /></a></td>
                    <td class="truncate"><span th:text="@{${skContent.uid.firstName} + ' '+ ${skContent.uid.lastName} + ' (' +  ${skContent.uid.username} +')'}"></span> <br/> <span th:text="${skContent.createdDate}"></span></td>
                    <td>
                        <span class="glyphicon glyphicon-tags" aria-hidden="true"></span> &nbsp;
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> &nbsp;
                        <span class="glyphicon glyphicon-eye-open icon-active" aria-hidden="true"></span>&nbsp; 
                        <span class="glyphicon glyphicon-thumbs-up icon-active" aria-hidden="true"></span> <span class="label label-warning">19</span>
                    </td>
                </tr>  
            </tbody>
        </table>
    </div>
    
    <div class="panel-footer">
        Sketches (<span th:text="${totalFiles}"></span>) - <a href="/sk_all">View All</a>
    </div>
    
</div>

