<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.bytecode.use_reflection_optimizer">false</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.username">storyboard</property>
		<property name="hibernate.connection.password">!storyboard!</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/storyboard</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.search.autoregister_listeners">false</property>
		<property name="hibernate.validator.apply_to_ddl">false</property>
<!--                <property name="hibernate.hbm2ddl.auto">create-drop</property>-->
		<property name="show_sql">false</property>
		<property name="format_sql">true</property>
		<property name="use_sql_comments">true</property>
		<mapping class="com.atos.concept.persistence.Slides" />
		<mapping class="com.atos.concept.persistence.Stories" />
		<mapping class="com.atos.concept.persistence.StoriesSlides" />
	</session-factory>
</hibernate-configuration>
