*{
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;	
}

html, body, div, span, a, nav, ul, li {
	border: 0;
	margin: 0;
	outline: 0;
	padding: 0;
}

body{
	//width:100%;
	//margin:0 auto;
	margin-left:240px;
}

footer .dashboard{
	margin:0 auto;
	opacity:0.23;
	margin-top:200px;
	background-size:30px 30px;
	width:30px;
	height:30px;
}

footer .dashboard p{
	font-size:11px;
	font-family:Arial;
	color:#616161;
	opacity:0.23;
	text-transform:uppercase;
}

.start{
	//padding:40px 0 0 40px;
	margin:0 0 0 86px;
	opacity:0.3;
	background:url('../img/BUTTON_START.png') no-repeat;
	background-size:150px 150px;
	width:150px;
	height:150px;
	
	-moz-animation-name: dropHeader;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: 0.3s;

    -webkit-animation-name: dropHeader;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 0.3s;

    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.3s;
}

@-moz-keyframes dropHeader {0% { -moz-transform: translateY(50px); opacity: 0; } 100% { -moz-transform: translateY(0); } }
@-webkit-keyframes dropHeader { 0% { -webkit-transform: translateY(50px); opacity: 0; } 100% { -webkit-transform: translateY(0); } }
@keyframes dropHeader { 0% { transform: translateY(50px); opacity: 0; } 100% { transform: translateY(0); } }

.splash{
	//text-align:center;
	margin:0 auto;
	position:relative;
	top:150px;
	opacity:0.5;
	background:url('../img/CONCEPT_LOGO_S.png');
	background-size:500px 137px;
	width:500px;
	height:137px;
}

.dashboard-container{
	background:#fff; #eee;
	opacity:0.5;
    display:flex;
    flex-direction: column; row;
    flex-wrap: wrap;
    justify-content: flex-start; //center;
    align-content: stretch;
    align-items: stretch;
	
	padding:0px;
}

.dashboard-login{
	//width: 300px;
	height: 100vh;
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 0;
}