.sidebar{
	float:left;
	width:229px;
	//height:500px;
	height:calc(100vh - 36px);
	background:#214F77;
	//color:#fff;
	//text-transform:uppercase;
	font-family: Arial, sans-serif;
	font-size:12px;
	
}

.sidebar ul{ margin:0; padding:0; list-style:none; }
.sidebar ul li { padding:10px; background:#2C699D;}
.sidebar ul li:hover{ color:#fff; background:#ECF0F1; color:#000; }
		
.sidebar input[type=submit], .sidebar input[type=submit]:focus{
    outline: none !important;
}

.sidebar img{
	width:212px;
	height:100px;
}

.sidebar .png {
    color: #fff;
    background-color: #337ab7;
	padding:5px 15px;
	border:0 none;
    cursor:pointer;
	width: 229px;
	//margin:2px 2px 0 2px;
	height: 60px;
	font-size:13px;
	
}
.sidebar .png:hover {
    color: #fff;
    background-color: #163550;
}

.sidebar .api {
    color: #fff;
    background-color: #286090;
	padding:5px 15px;
	border:0 none;
    cursor:pointer;
	width: 229px;
	height: 29px;
	font-size:11px;
}
.sidebar .api:hover {
    color: #fff;
    background-color: #163550;
}	

.literally{
	overflow:hidden;
	height: calc(100vh - 36px);
}