<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>COnCEPT | Register page &mdash; Concept</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta  http-equiv="Content-Type" content="text/html;charset=UTF-8"  />
        <link rel="icon" href="resources/img/icon.svg" />
        <link rel="stylesheet" href="resources/css/topnav.css" type="text/css" />
    </head>
    <body>
        <div class="dashboard-container">
            <div class="dashboard-login">
                <img src="resources/img/CONCEPT_LOGO_S.png" width="400"/>
                <hr/>
                <section id="login">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-wrap">
                                    <h4>Create an account</h4>

                                    <form   role="form" action="#" th:action="@{/register}" th:object="${user}" method="post" id="login-form" autocomplete="off">
                                        <div class="form-group">
                                            <label for="firstname" class="sr-only">First Name</label>
                                            <input type="text"  th:field="*{firstName}"   name="firstname" id="firstname" class="form-control" placeholder="First Name"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="lastname" class="sr-only">Last Name</label>
                                            <input type="text"  th:field="*{lastName}" name="lastname"  id="lastname" class="form-control" placeholder="Last Name"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="email" class="sr-only">Email</label>
                                            <input type="email"  th:field="*{email}" name="email" id="email" class="form-control" placeholder="Email"/>
                                        </div>
                                        <hr/>
                                        <div class="form-group">
                                            <label for="username" class="sr-only">Username</label>
                                            <input type="text" name="username" id="username" class="form-control" placeholder="Username"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="key" class="sr-only">Password</label>
                                            <input type="password" name="key" id="key" class="form-control" placeholder="Password"/>
                                        </div>

                                        <!--                                         <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>-->

                                        <input type="submit" value="Create Account" class="btn btn-primary btn-block"/>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </body>
</html>