<head>
	<link type="text/css" rel="stylesheet" href="static/css/styles.css">
</head>


<html>

<div class="container">

	<div class="tab_line">
		<div class="tab tab_selected"><span class="style:margin-left: auto;margin-right: auto;">Basic search</span></div>
		<div class="tab tab_unselected">Advanced search</div>
	</div>
	
	<div class="search_body" style="height:92%">
		<div class="search_fields">
			<div style="margin:10px 5px; vertical-align:middle">
				<b><span style="color:#00a0ff">Search text</span></b>: <input class="search_text" type="text" value="creativity">
				<div style="margin-top:10px; vertical-align:middle">
					<button class="search_button" type="submit" form="form1" value="Submit">Search</button>
					<button class="search_button" type="submit" form="form1" value="Submit">Reset</button>
				</div>
			</div>
		</div>
		
		<div class="pagination">
			<p style="font-weight:bold;text-align:center;font-size:16pt">
				<span style="margin-right:30px">2 results matching</span>
				<span style="margin-right:30px">Page 1/1</span>
				<span style="margin-right:30px">Results per page <select style="margin-right:20px;padding:3px;"><option>10</option></select></span>
			</p>
		</div>
		
		<div class="search_results">
			<div class="result">
			      <div class="thumbnail">
					<img class="thumbnail" src="creativity.png"></img>
				</div>
				<div class="result_field">
					<p><b>Title</b>: What is Creativity?</p>
					<p><b>Description</b>: This is a text about creativity</p>
					<p>
						<span style="margin-right:15px;"><b>Domain</b>: Graphical Design</span>
						<span style="margin-right:15px;"><b>URL</b>: <a style="color:#f0f0ff;" href="http://www.creativityatwork.com/2014/02/17/what-is-creativity/">http://www.creativityatwork.com/2014/02/17/what-is-creativity/</a></span>
					</p>
					<p>
						<span style="margin-right:15px;"><b>Type</b>: Web document</span>
						<span style="margin-right:15px;"><b>Origin</b>: creativityatwork</span>
						<span style="margin-right:15px;"><b>Status</b>: Published</span>
						<span style="margin-right:15px;"><b>Version</b>: 2</span>
						<span style="margin-right:15px;"><b>Language</b>: en</span>
						<span style="margin-right:15px;display:inline"><b>Rating</b>:
							<img height="16px" width="16px" src="star.png"></img>
							<img height="16px" width="16px" src="star.png"></img>
							<img height="16px" width="16px" src="star.png"></img>
							<img height="16px" width="16px" src="star.png"></img>
							<img height="16px" width="8px" src="half_star.png"></img>
						</span>
					</p>
					<p class="semantic_field">
						<b>Categories:</b>
						<div class="tag">Aggressive</div>
						<div class="tag">Modern</div>
					</p>
					<p class="semantic_field">
						<b>Keywords:</b>
						<div class="tag">Intellectual Giftedness</div>
						<div class="tag">Creativity</div>
					</p>
				</div>
			</div>
			<div class="result">
			      <div class="thumbnail">
					<img class="thumbnail" src="creativity-works-diagram-rgb1.jpg"></img>
				</div>
				<div class="result_field">
					<p><b>Title</b>: Creativity Works</p>
					<p><b>Description</b>: Evaluation of our creativity works</p>
					<p>
						<span style="margin-right:15px;"><b>Domain</b>: Graphical Design</span>
						<span style="margin-right:15px;"><b>URL</b>: <a style="color:#f0f0ff;" href="http://www.creativityatwork.com/2014/02/17/what-is-creativity/">/storyboard/creativity_works</a></span>
					</p>
					<p>
						<span style="margin-right:15px;"><b>Type</b>: image</span>
						<span style="margin-right:15px;"><b>Origin</b>: concept</span>
						<span style="margin-right:15px;"><b>Status</b>: Draw</span>
						<span style="margin-right:15px;"><b>Version</b>: 1</span>
						<span style="margin-right:15px;"><b>Language</b>: en</span>
						<span style="margin-right:15px;display:inline"><b>Rating</b>:
							<img height="16px" width="16px" src="star.png"></img>
							<img height="16px" width="16px" src="star.png"></img>
							<img height="16px" width="16px" src="star.png"></img>
							<img height="16px" width="16px" src="star.png"></img>
						</span>
					</p>
					<p class="semantic_field">
						<b>Categories:</b>
						<div class="tag">Modern</div>
					</p>
					<p class="semantic_field">
						<b>Keywords:</b>
						<div class="tag">Evaluation</div>
						<div class="tag">Creativity</div>
					</p>
				</div>
			</div>

		
		</div>
	</div>

</div>


</html>