<head>
	<link type="text/css" rel="stylesheet" href="styles.css">
</head>


<html>

<div class="container">

	<div class="tab_line">
		<div class="tab tab_unselected"><span class="style:margin-left: auto;margin-right: auto;">Basic search</span></div>
		<div class="tab tab_selected">Advanced search</div>
	</div>
	
	<div class="search_body" style="height:65%">
		<div class="search_fields:height:auto; display:inline-table">
			<div style="margin:10px 5px; vertical-align:middle; ">
				<b><span class="search_criteria">Title: </span></b><input style="margin-right:20px; padding:5px; width:200px;" type="text" value="creativity">
				<b><span class="search_criteria">Origin: </span></b><input style="margin-right:20px; padding:5px; width:200px;" type="text" value="creativityatwork">
				<b><span style="color:#00a0ff">Description: </span></b><input style="margin-right:20px; padding:5px; width:200px;" type="text" value="">
				<b><span class="search_criteria">Content Text: </span></b><input style="margin-right:20px; padding:5px; width:200px;" type="text" value="">
				<br/><br/>
				<b><span class="search_criteria">Type: </b></span><select style="margin-right:20px;padding:5px;"><option>Web document</option></select>
				<b><span class="search_criteria">Language: </b></span><select style="margin-right:20px;padding:5px;"><option>en</option></select>
				<b><span class="search_criteria">Categories: </b></span><select style="margin-right:20px;padding:5px;"><option>Modern</option></select>
				<b><span class="search_criteria">Keywords: </b></span><select style="margin-right:20px;padding:5px;"><option>Creativity</option></select>
				<b><span class="search_criteria">Status: </b></span><select style="margin-right:20px;padding:5px;"><option>Published</option></select>
				<b><span class="search_criteria">Rating: </b></span><select style="margin-right:20px;padding:5px;"><option>4</option></select>
				<br/><br/>
				<form>
				<span class="search_criteria"><input type="radio" checked><b>Inclusive Search</b></span>
				<span class="search_criteria"><input type="radio"><b>Exclusive Search</b></span>
				</form>

				
				
				<div style="margin-top:10px; vertical-align:middle">
					<button class="search_button" type="submit" form="form1" value="Submit">Search</button>
					<button class="search_button" type="submit" form="form1" value="Submit">Reset</button>
				</div>
			</div>
		</div>
		
		<div class="pagination">
			<p style="font-weight:bold;text-align:center;font-size:16pt">
				<span style="margin-right:30px">1 result matching</span>
				<span style="margin-right:30px">Page 1/1</span>
				<span style="margin-right:30px">Results per page <select style="margin-right:20px;padding:3px;"><option>10</option></select></span>
			</p>
		</div>
		
		<div class="search_results">
			<div class="result">
			      <div class="thumbnail">
					<img class="thumbnail" src="creativity.png"></img>
				</div>
				<div class="result_field">
					<p><b>Title</b>: What is Creativity?</p>
					<p><b>Description</b>: This is a text about creativity</p>
					<p>
						<span style="margin-right:15px;"><b>Domain</b>: Graphical Design</span>
						<span style="margin-right:15px;"><b>URL</b>: <a style="color:#f0f0ff;" href="http://www.creativityatwork.com/2014/02/17/what-is-creativity/">http://www.creativityatwork.com/2014/02/17/what-is-creativity/</a></span>
					</p>
					<p>
						<span style="margin-right:15px;"><b>Type</b>: Web document</span>
						<span style="margin-right:15px;"><b>Origin</b>: creativityatwork</span>
						<span style="margin-right:15px;"><b>Status</b>: Published</span>
						<span style="margin-right:15px;"><b>Version</b>: 2</span>
						<span style="margin-right:15px;"><b>Language</b>: en</span>
						<span style="margin-right:15px;display:inline"><b>Rating</b>:
							<img height="16px" width="16px" src="star.png"></img>
							<img height="16px" width="16px" src="star.png"></img>
							<img height="16px" width="16px" src="star.png"></img>
							<img height="16px" width="16px" src="star.png"></img>
							<img height="16px" width="8px" src="half_star.png"></img>
						</span>
					</p>
					<p class="semantic_field">
						<b>Categories:</b>
						<div class="tag">Aggressive</div>
						<div class="tag">Modern</div>
					</p>
					<p class="semantic_field">
						<b>Keywords:</b>
						<div class="tag">Intellectual Giftedness</div>
						<div class="tag">Creativity</div>
					</p>
				</div>
			</div>

		</div>
	</div>

</div>


</html>