<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Brief Analysis &mdash; CONCEPT</title>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />	
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

        <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css"
              th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
              rel="stylesheet" media="screen" />
        
        <link href="http://cdn.jsdelivr.net/webjars/org.webjars/jquery-tagsinput/1.3.2/jquery.tagsinput.css"
              th:href="@{/webjars/jquery-tagsinput/1.3.2/jquery.tagsinput.css}"
              rel="stylesheet" media="screen" />
        
        <link href="http://cdn.jsdelivr.net/webjars/org.webjars.npm/jqtree/1.1.0/jqtree.css"
              th:href="@{/webjars/jqtree/1.1.0/jqtree.css}"
              rel="stylesheet" media="screen" />

        <link href="../static/css/dashboard.css" th:href="@{/css/dashboard.css}" rel="stylesheet" />
        <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css' />
    </head>
    <body>

        <!-- navbar -->
        <nav class="nav-main">
            <ul>
                <form id="ba-form" th:action="@{/dashboard}" method="post" >
                    <a href="#" onclick="addProjectIDToForm('ba-form');
                            $(this).closest('form').submit()">
                        <li class="main"><img src="/images/BUTTON_BACK.png" />Dashboard</li>
                    </a>
                </form>
            </ul>
        </nav>

        <!-- apps -->
        <nav class="nav-apps">
            <ul class="disabled">
                <li><img src="/images/ICON_BA.png" /></li>
                <li><img src="/images/ICON_FM_DISABLED.png" /></li>
                <li><img src="/images/ICON_SE_DISABLED.png" /></li>
                <li><img src="/images/ICON_MM_DISABLED.png" /></li>
                <li><img src="/images/ICON_MB_DISABLED.png" /></li>
                <li><img src="/images/ICON_SB_DISABLED.png" /></li>
            </ul>
        </nav>

        <!-- projects -->
        <nav class="nav-projects">
            <div class="btn-group project-selection">
                <select id="project-select" th:if="${!projects.isEmpty()}" class="btn btn-default" disabled="true">
                    <option selected="true" value="0">Please select a project</option>
                    <option th:each="project : ${projects}" th:value="${project.id}" th:text="${project.name}"></option>
                </select>

                <select th:if="${projects.isEmpty()}" class="btn btn-default">
                    <option selected="true" disabled="true">No projects available</option>
                </select>

            </div>          

            <div class="project-selection">

                <!-- Content to be showed only on project members (managers, designers, clients) -->
                <div th:switch="${currentUser.getRole()}">
                    <span th:case="'MANAGER'">
                        
                        <form class="project-form" id="pm-add-form" action="#" method="post" th:action="@{/pm_app/add}">
                            <button onclick="addProjectIDToForm('pm-add-form')" type="submit" id="pm-add" href="" class="btn btn-success btn-xs">New Project</button>
                        </form>
                        <form class="project-form" id="pm-details-form" action="#" method="post" th:action="@{/pm_app/details}">
                            <button onclick="addProjectIDToForm('pm-details-form')" type="submit" id="project-view" href="" class="btn btn-default btn-xs">Details</button>
                        </form>
                        <form class="project-form" id="pm-model-form" action="#" method="post" th:action="@{/pm_app/model}">
                            <button onclick="addProjectIDToForm('pm-model-form')" type="submit" id="project-model" href="" class="btn btn-link btn-xs">Model</button>
                        </form>
                 
                    </span>
                    <span th:case="'DESIGNER'">
                        <form class="project-form" id="pm-details-form" action="#" method="post" th:action="@{/pm_app/details}">
                            <button onclick="addProjectIDToForm('pm-details-form')" type="submit" id="project-view" href="" class="btn btn-default btn-xs">Details</button>
                        </form>
                    </span>
                    <span th:case="'CLIENT'">
                        <form class="project-form" id="pm-details-form" action="#" method="post" th:action="@{/pm_app/details}">
                            <button onclick="addProjectIDToForm('pm-details-form')" type="submit" id="project-view" href="" class="btn btn-default btn-xs">Details</button>
                        </form>
                    </span>
                </div>
                <h5 id="project-members" class="highlight">Project Members<br/><small></small></h5>
            </div>
        </nav>

        <!-- Success Message -->
        <nav id="notification" th:if="null != ${success}" class="nav-actions" >
            <div class="alert alert-warning alert-dismissible btn-actions" role="alert" >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span th:text="${success}"></span>
            </div>
        </nav>

        <!-- Error Message -->
        <nav id="notification" th:if="null != ${error}" class="nav-actions" >      
            <div class="alert alert-danger alert-dismissible btn-actions" role="alert" >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span th:text="${error}"></span>
            </div>
        </nav>

        <!-- Chat DIV -->
        <div th:include="chat :: chat-list"></div>

        <!-- dashboard -->
        <div class="content">
            <form  id="ba-form" class="form-inline" method="post" th:action="@{/ba_app_edit}" action="#" th:object="${briefanalysis}">
                <div class="form-group document-title">
                    <input type="hidden" th:value="${projectID}"  name="projectID" id="projectID" class="form-control"    />
                    <input type="hidden" th:value="*{pid}" name="pid" id="pid" class="form-control"    />
                    <input th:if="null != ${briefanalysis.uid}" type="hidden" th:value="${briefanalysis.uid.id}"  th:field="*{uid.id}"  name="uid" id="uid" class="form-control"    />
                    <input type="hidden" th:value="${briefanalysis.id}"   th:field="*{id}" class="form-control input-sm" id="ba-id" name="ba-id" size="50" value="BA_00001"/>
                    <label for="document-title">Brief Analysis Title</label>
                    <input th:value="${briefanalysis.title}" th:field="*{title}" type="text" class="form-control input-sm" id="document-title" name="document-title" size="50" placeholder="Untitled (Optional)"/>
                    <input type="submit" class="btn btn-xs btn-danger" value="Save"   name="editBA"/>
                </div>

                <iframe id="etherpad" th:src="@{'http://concept-ba.euprojects.net/p/' +${briefanalysis.id}+ '?showChat=false&amp;showLineNumbers=false&amp;userName='+ ${currentUser.getUsername()}}" width="100%" height="100%"></iframe>
            </form>
        </div>
        
        <input type="hidden" th:value="${#httpServletRequest.getParameter('projectID')}"  name="projectID" id="projectID" class="form-control" />

        <script src="http://cdn.jsdelivr.net/webjars/org.webjars/jquery/1.11.3/jquery.min.js"
        th:src="@{/webjars/jquery/1.11.3/jquery.min.js}"></script>
        
        <script src="http://cdn.jsdelivr.net/webjars/org.webjars/bootstrap/3.3.5/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
        
        <script src="http://cdn.jsdelivr.net/webjars/org.webjars/jquery-tagsinput/1.3.2/jquery.tagsinput.min.js"
        th:src="@{/webjars/jquery-tagsinput/1.3.2/jquery.tagsinput.min.js}"></script>

        <script src="http://cdn.jsdelivr.net/webjars/org.webjars.npm/jqtree/1.1.0/tree.jquery.js"
        th:src="@{/webjars/jqtree/1.1.0/tree.jquery.js}"></script>
        
        <script src="http://cdn.jsdelivr.net/webjars/org.webjars/sockjs-client/1.0.2/sockjs.min.js"
        th:src="@{/webjars/sockjs-client/1.0.2/sockjs.min.js}"></script>
        
        <script src="http://cdn.jsdelivr.net/webjars/org.webjars/stomp-websocket/2.3.3/stomp.min.js"
        th:src="@{/webjars/stomp-websocket/2.3.3/stomp.min.js}"></script>

        <script src="../static/js/util.js" th:src="@{/js/util.js}"></script>
        <script src="../static/js/metadata.js" th:src="@{/js/metadata.js}"></script>
        <script src="../static/js/chat.js" th:src="@{/js/chat.js}"></script>
        
    </body>
</html>