<div th:fragment="category-list">

    <div class="row">

        <div class="col-md-12">
            <div id="fmDIVbuttons" class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Model</h4>
                    <div class="btn-group pull-right">
                        <button id="add-button" onclick="addCategoryToModel();" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add</button>
                    </div>
                </div>
                <div class="panel-body no-padding">
                    <table class="table tree table-striped">
                        <thead>
                            <tr>
                                <th class="col-md-4">Name</th>
                                <th class="col-md-8"></th>
                            </tr>
                        </thead>
                        <tbody id="treeGrid">
                            <!-- Load content from RESTFul API -->
                        </tbody>

                    </table>


                </div>

                <input type='hidden' id='treeGridHTML' th:value='${treegrid}' />

            </div>
        </div>

    </div>
</div>

<div th:fragment="category-add">

    <div class="row">

        <div class="col-md-12">
            <div id="fmDIVbuttons" class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Hierarchy</h4>
                    <div class="btn-group pull-right">
                        <button id="add-button" onclick="$('#categoryForm').submit();" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Save</button>
                    </div>
                </div>
                <div class="panel-body">

                    <div class="form-group" >
                        <form class="form-horizontal" th:action="(${isEdit} == 1) ? '/category/update'  : '/category/add'" method="post" id="categoryForm">
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="text-input">Category name</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" id="categoryName" name="categoryName"  th:value=" ( 1 == ${isEdit}) ? ${category.name} :  '' " placeholder="" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="text-input">Parent Category</label>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <input type="checkbox" aria-label="" id="hasParent" name="hasParent" th:value="${hasFather}" th:attr="checked= @{( ${hasFather} == 1 ) ? true  :  false} "/>
                                            
                                            
                                        </span>
                                        <input type="text" class="form-control" name="parentCategory" id="parentCategory"  th:value="(${hasFather} == 1) ? ${category.parentID.name}  : ''" placeholder=""    th:attr="disabled= @{( ${hasFather} == 1 ) ? false  :  true} " />
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" id="categoryID" name="categoryID" th:if="1 == ${isEdit}" th:value="${category.id}"/>
                            <input type="hidden" id="parentCategoryID" name="parentCategoryID" th:value="(${hasFather} == 1) ? ${category.parentID.id}  : ''" />
                            <input type="hidden" id="projectID" name="projectID" th:value="${projectID}"/>
                            <input type="hidden" id="projectCategoryID" name="projectCategoryID" th:value="${projectCategoryID}"/>

                        </form>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<div th:fragment="category-init">

    <div class="row">

        <div class="col-md-12">
            <div id="fmDIVbuttons" class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Model</h4>
                    <div class="btn-group pull-right">
                        <button id="add-button" onclick="$('#initCategoryForm').submit();" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Save</button>
                    </div>
                </div>
                <div class="panel-body no-padding">

                    <div class="form-group" >
                        <form class="form-horizontal" th:action="@{/category/init}" method="post" id="initCategoryForm">
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="text-input">Name</label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="name" name="name"  value="" placeholder="" />
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" id="projectID" name="projectID" th:value="${projectID}"/>
                        </form>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>