<div th:fragment="comment-list">
    
    <div class="panel-body no-padding" >
        <table id="ba_table" class="table table-striped">
            <thead>
                <tr>
                    <th class="col-md-3">Document</th>
                    <th class="col-md-6">Details</th>
                    <th class="col-md-3"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a id="ba-url" href="/ba_app/85" title="Untitled" alt="Untitled"><img class="img-thumbnail" src="/images/fm_generic.png"/></a></td>
                    <td class="truncate"><span class="file-title">Untitled</span><br/><span class="file-user">Manager One (manager1)</span><br/><span class="file-timestamp">2016-01-08 12:25</span></td>
                    <td>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="comment-content">

            <h5>Comments</h5>
            <ul id="comment-list" class="comment-list">
                <li class="comment-message">
                    <span class="comment-user-you">manager1 </span>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ligula metus, posuere eu ultricies eu, varius nec felis. Ut volutpat lacinia dui, quis lobortis tellus maximus ut. Proin non condimentum ipsum. Sed tortor turpis, fermentum sed neque quis, egestas dignissim est. Nulla ultricies eget enim ac luctus. Mauris ex ante, auctor sed odio sit amet, posuere aliquam mauris. Ut tristique, justo id eleifend facilisis, erat sem elementum mi, commodo egestas lorem orci id arcu.
                    <span class="comment-timestamp">30/11/2015 11:27:51</span>
                </li>
                <li class="comment-message">
                    <span class="comment-user">designer1 </span>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.!
                    <span class="comment-timestamp">30/11/2015 11:27:51</span>
                </li>
                <li class="comment-message">
                    <span class="comment-user-you">manager1 </span>
                    OK!
                    <span class="comment-timestamp">30/11/2015 11:27:51</span>
                </li>
            </ul>

            <ul class="comment-actions">
                <li>
                    <input id="comment-message" class="comment-text" type="text" name="chat-message" rows="1" onkeypress="keyPressedOnTextField(event)" autocomplete="off"/>
                    <button id="comment-button" class="btn btn-xs btn-success comment-button" name="sendMessage" onclick="sendMessage()" disabled="disabled">Send</button>
                </li>
            </ul>
        </div>
    </div>
    
</div>