<div th:fragment="comment-list">

    <div class="panel-body no-padding" >
        <div class="comment-content">

            <h5 th:text="@{'Comments (' + ${#lists.size(item.comments)}     +')'   }">Comments (0)</h5>
            <ul th:each="comment : ${item.comments}" class="comment-list">
                <li class="comment-message">
                    <strong><span th:text="${comment.uid.username}" th:classappend="(${comment.uid.id} == ${currentUser.getId()} ) ? 'comment-user-you' : ''"  >username</span></strong>
                    <span th:text="${comment.comment}">Comment content</span>
                    <span th:text=" ${#strings.substring(comment.createdDate,0,16)}" class="comment-timestamp">30/11/2015 11:27:51</span>
                </li>
            </ul>

            <ul class="comment-actions">
                <li>
                    <form th:action="@{/comments_add}">
                        <input id="comment-message" class="comment-text" type="text" name="content" rows="1" onkeypress="keyPressedOnCommentField(event)" autocomplete="off"/>
                        <input type="hidden" th:value="${item.id}" th:name="itemID" />
                        <input type="hidden" th:value="${app}" th:name="app" />
                        <input type="hidden" th:value="${projectID}"  name="projectID" id="projectID" class="form-control" />
                        <button type="submit" id="comment-button" class="btn btn-xs btn-success comment-button" disabled="disabled" >Send</button>
                    </form>

                </li>
            </ul>
        </div>
    </div>

</div>