<div th:fragment="comment-list">
    
    <div class="panel-body no-padding" >
        <table id="ba_table" class="table table-striped">
            <thead>
                <tr>
                    <th class="col-md-3">Document</th>
                    <th class="col-md-6">Details</th>
                    <th class="col-md-3"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="" title="Untitled" alt="Untitled"><img class="img-thumbnail" src="/images/fm_generic.png"/></a></td>
                    <td class="truncate"><span class="file-title"  th:text="${item.title}"></span><br/><span class="file-user" th:text="@{${item.uid.firstName} + ' '+ ${item.uid.lastName} + ' (' +  ${item.uid.username} +')'}"></span><br/><span class="file-timestamp" th:text="${#strings.substring(item.createdDate,0,16)}"></span><br/><a th:text="@{'Comments (' + ${#lists.size(item.comments)}     +')'   }" th:href="@{''}" class="text-success">Comments (0)</a></td>
                    <td>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="comment-content">

            <h5>Comments</h5>
            <ul th:each="comment : ${item.comments}" class="comment-list">
                <li class="comment-message">
                    <span th:text="${comment.uid.username}" th:classappend="(${comment.uid.id} == ${item.uid.id} ) ? 'comment-user-you' : ''"  >username</span>
                    <span th:text="${comment.comment}">Comment content</span>
                    <span th:text="${comment.createdDate}" class="comment-timestamp">30/11/2015 11:27:51</span>
                </li>
            </ul>

            <ul class="comment-actions">
                <li>
                    <input id="comment-message" class="comment-text" type="text" name="chat-message" rows="1" onkeypress="keyPressedOnTextField(event)" autocomplete="off"/>
                    <button id="comment-button" class="btn btn-xs btn-success comment-button" name="sendMessage" onclick="sendMessage()" disabled="disabled">Send</button>
                </li>
            </ul>
        </div>
    </div>
    
</div>