<div th:fragment="doc_details">

    <div class="panel-body no-padding" >

        <table id="ba_table" class="table table-striped">
            <thead>
            <tr>
                <th class="col-md-3">Document</th>
                <th class="col-md-6">Details</th>
                <th class="col-md-3"></th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td><a th:href="@{'/'+${app}+'/' + ${item.id}}" title="Untitled" alt="Untitled"><img class="img-thumbnail" src="/images/fm_generic.png"/></a></td>
                <td class="truncate">
                    <span class="file-title"  th:text="${item.title}"></span><br/>
                    <span class="file-user" th:text="@{${item.uid.firstName} + ' '+ ${item.uid.lastName} + ' (' +  ${item.uid.username} +')'}"></span><br/>
                    <span class="file-timestamp" th:text="${#strings.substring(item.createdDate,0,16)}"></span><br/>
                </td>
                <td>
                </td>
            </tr>
            </tbody>

        </table>

    </div>

</div>
