<div th:fragment="fmContentList">
    <div class="panel-body no-padding"  th:if="${!#lists.isEmpty(fmContents)}">

        <div class="panel-body" style="text-align:center">       
      
            <form id="baAllForm" action="#" method="post" th:action="@{/ba_all}">
                <input type="hidden" th:value="${projectID}"  name="projectID" id="projectID" class="form-control"/>
                <a onclick="$('#baAllForm').submit();"><img class="folder" src="/images/folder-ba.png"/></a>
            </form>
            
            <form id="fmAllForm" action="#" method="post" th:action="@{/fm_all}">
                <input type="hidden" th:value="${projectID}"  name="projectID" id="projectID" class="form-control"/>
                <a onclick="$('#fmAllForm').submit();"><img class="folder" src="/images/folder-fm.png"/></a>
            </form>
            
            <form id="mmAllForm" action="#" method="post" th:action="@{/mm_all}">
                <input type="hidden" th:value="${projectID}"  name="projectID" id="projectID" class="form-control"/>
                <a onclick="$('#mmAllForm').submit();"><img class="folder" src="/images/folder-mm.png"/></a>
            </form>
            <br/>
            <form id="mbAllForm" action="#" method="post" th:action="@{/mb_all}">
                <input type="hidden" th:value="${projectID}"  name="projectID" id="projectID" class="form-control"/>
                <a onclick="$('#mbAllForm').submit();"><img class="folder" src="/images/folder-mb.png"/></a>
            </form>
            
            <form id="sbAllForm" action="#" method="post" th:action="@{/sb_all}">
                <input type="hidden" th:value="${projectID}"  name="projectID" id="projectID" class="form-control"/>
                <a onclick="$('#sbAllForm').submit();"><img class="folder" src="/images/folder-sb.png"/></a>
            </form>
            <!--<a class="fm-popup" th:each="fmContent : ${fmContents}" th:href="@{'/file/'+${fmContent.id}}"><img th:src="${fmContent.content}"  th:title="${fmContent.filename}"  th:alt="${fmContent.filename}" class="img-thumbnail" /></a>-->
        </div>

    </div>

    <div id="fm-placeholder" class="panel-body disabled" th:if="${#lists.isEmpty(fmContents)}" ></div>
    
    <script>
        $(document).ready(function () {
            $('.fm-popup').magnificPopup({
                type: 'image',
                closeOnContentClick: true,
                image: {
                    verticalFit: true,
                    horizontalFit: true
                }
            });
        });
    </script>
</div>


<div th:fragment="fmContentAllList" th:unless="${#lists.isEmpty(fmContents)}" > 
    <div class="panel-body no-padding" >
        <table id="fm_table" class="table table-striped">
            <thead>
                <tr>
                    <th class="col-md-3">Recent Files</th>
                    <th class="col-md-6">Details</th>
                    <th class="col-md-3"></th>
                </tr>
            </thead>
            <tbody>            
                <tr th:each="fmContent : ${fmContents}">
                    <td><a class="fm-popup" th:href="@{'/file/'+${fmContent.id}}" data-lightbox="${fmContent.pid}"><img th:src="${fmContent.content}" th:title="${fmContent.filename}"  class="img-thumbnail" /></a><a th:href="@{'/file/'+${fmContent.id}}" class="btn btn-default btn-xs pull-up" th:attr="download=${fmContent.filename}" >Download</a></td>
                    <td class="truncate"><span class="file-title" th:text="${fmContent.filename}"></span><br/><span class="file-user" th:text="@{${fmContent.uid.firstName} + ' '+ ${fmContent.uid.lastName} + ' (' +  ${fmContent.uid.username} +')'}"></span><br/><span class="file-timestamp" th:text="${#strings.substring(fmContent.createdDate,0,16)}"></span><br/><a th:text="@{'Comments (' + ${#lists.size(fmContent.comments)}     +')'   }" th:href="@{'/fm_all/' + ${projectID} + '/' + ${fmContent.id}}" class="text-success">Comments (0)</a></td>
                    <td>
                        <button class="action-button" th:attr="onclick=@{'loadMetadata(' + ${fmContent.id}  +',\'FM\','+${fmContent.pid}+',this)'}">
                            <i class="glyphicon glyphicon-tags" aria-hidden="true"/>
                        </button>
                        <button class="action-button" th:attr="onclick=@{ 'deleteFMItem(' + ${fmContent.id}  +','+ ${fmContent.pid}+ ')' }" >
                            <i class="glyphicon glyphicon-trash" aria-hidden="true"/>
                        </button>
                        &nbsp;
                        <span th:id="@{'FM' + ${fmContent.id} }" th:attr="onclick=@{'setIsPublic(\'FM\','+${fmContent.id} } +')' " th:classappend="(${fmContent.isPublic} == 1 ) ? ' icon-active' : ''"  class="glyphicon  glyphicon-eye-open"  aria-hidden="true"></span>&nbsp; 
                        <span th:id="@{'LikeFM' + ${fmContent.id} }" th:attr="onclick=@{'like(\'FM\','+${fmContent.id} } +')'" class="glyphicon glyphicon-thumbs-up" th:classappend="(${fmContent.hasLike(currentUser.getId())}) ? ' icon-active' : ''"  aria-hidden="true"></span> <span th:id="@{'LikeCountFM' + ${fmContent.id} }" th:text="${#arrays.length(fmContent.getLikes())}" class="label label-warning"></span>
                    </td>
                </tr>  
            </tbody>
        </table>
    </div>

    <!--
    <div class="panel-footer" style="text-align:center">
        <a href="#" th:action="@{/load}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span> Load more</a>
    </div>

    <div class="panel-footer" style="text-align:center">
        <a href="#" th:action="@{/load}" class="btn btn-default btn-sm disabled"><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span> Nothing more to load</a>
    </div>
    -->

    <script>
        $(document).ready(function () {
            $('.fm-popup').magnificPopup({
                type: 'image',
                closeOnContentClick: true,
                image: {
                    verticalFit: true,
                    horizontalFit: true
                }
            });
        });
    </script>
    
</div>