<div th:fragment="hierarchy-select">

    <div class="row">

        <div class="col-md-12">
            <div id="fmDIVbuttons" class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Hierarchy</h4>
                    <div class="btn-group pull-right disabled">
                        <p id="add-button" href="#" class="btn btn-default btn-sm disabled"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Please select a project</p>
                    </div>
                </div>
                <div id="ba-placeholder" class="panel-body disabled"></div>
                
                <!--
                <div class="panel-footer" style="text-align:center">
                    <a href="#" th:action="@{/load}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span> Load more</a>
                </div>

                <div class="panel-footer" style="text-align:center">
                    <a href="#" th:action="@{/load}" class="btn btn-default btn-sm disabled"><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span> Nothing more to load</a>
                </div>
                -->
                
            </div>
        </div>

    </div>
</div>

<div th:fragment="hierarchy-list">

    <div class="row">

        <div class="col-md-12">
            <div id="fmDIVbuttons" class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Notifications</h4>
                    <div class="btn-group pull-right">
                        <a id="add-button" href="#" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Add</a>
                    </div>
                </div>
                <div class="panel-body">
                    
                    Hierarchy
                    
                </div>
                
                <!--
                <div class="panel-footer" style="text-align:center">
                    <a href="#" th:action="@{/load}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span> Load more</a>
                </div>

                <div class="panel-footer" style="text-align:center">
                    <a href="#" th:action="@{/load}" class="btn btn-default btn-sm disabled"><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span> Nothing more to load</a>
                </div>
                -->
                
            </div>
        </div>

    </div>
</div>

<div th:fragment="hierarchy-add">

    <div class="row">

        <div class="col-md-12">
            <div id="fmDIVbuttons" class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Hierarchy</h4>
                    <div class="btn-group pull-right">
                        <a id="add-button" href="#" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Add</a>
                    </div>
                </div>
                <div class="panel-body">
                    
                    Hierarchy
                    
                </div>
                
                <!--
                <div class="panel-footer" style="text-align:center">
                    <a href="#" th:action="@{/load}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span> Load more</a>
                </div>

                <div class="panel-footer" style="text-align:center">
                    <a href="#" th:action="@{/load}" class="btn btn-default btn-sm disabled"><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span> Nothing more to load</a>
                </div>
                -->
                
            </div>
        </div>

    </div>
</div>