<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome &mdash; CONCEPT</title>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

    <link href="../static/css/dashboard.css" th:href="@{/css/dashboard.css}" rel="stylesheet"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>
</head>
<body>

<!-- logo -->
<nav class="nav-logo">
    <img class="back" src="/images/BUTTON_DASHBOARD.png"/>
    <!--<img class="back" src="/images/BUTTON_BACK.png"/>-->
    <img class="logo" src="/images/concept-logo-small.png"/>
</nav>

<!-- apps -->
<nav class="nav-apps">
    <ul class="disabled">
        <li><img src="../static/images/ICON_BA_DISABLED.png" th:src="@{images/ICON_BA_DISABLED.png}"/></li>
        <li><img src="../static/images/ICON_MM_DISABLED.png" th:src="@{images/ICON_MM_DISABLED.png}"/></li>
        <li><img src="../static/images/ICON_MB_DISABLED.png" th:src="@{images/ICON_MB_DISABLED.png}"/></li>
        <li><img src="../static/images/ICON_SB_DISABLED.png" th:src="@{images/ICON_SB_DISABLED.png}"/></li>
        <li><img class="fm" src="../static/images/ICON_FM_DISABLED.png" th:src="@{images/ICON_FM_DISABLED.png}"/></li>
    </ul>
</nav>

<!-- placeholder -->
<nav class="nav-placeholder">
    <p><strong>&mdash; CONCEPT &mdash;</strong><br/>Collaborative creative<br/>design platform</p>
</nav>

<!-- dashboard -->
<div class="content-pre">
    <div class="header"></div>

    <div class="help">
        <div class="row">
            <a href="/files/COnCEPT_Handbook.pdf" target="_blank"><img src="/images/help-doc.png" width="200px"/></a><br/>
            <a href="https://youtu.be/H1pSTKTzDLI" target="_blank"><img src="/images/help-vid.png" width="200px"/></a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="dashboard-login">

                <section id="login">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8">
                                <h5 class="heading">Welcome to CONCEPT platform</h5>
                                <p>The platform has been developed as part of the ConCEPT FP7 EU funded project. The project aims to implement a semantically driven collaboration framework to be integrated into future synchronous/asynchronous collaborative design environments, to assist professional product designers during the early stages of the design process.</p>
                                <a href="/login" class="btn btn-danger">Login</a>
                                <a href="/register" class="btn btn-danger">Create New Account</a>
                            </div>
                        </div>
                        <br/><br/><br/>

                    </div>
                </section>

            </div>
        </div>
    </div>

</div>

</body>
</html>
