<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login &mdash; CONCEPT</title>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <link href="../static/css/dashboard.css" th:href="@{/css/dashboard.css}" rel="stylesheet"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>
</head>
<body>

<!-- logo -->
<nav class="nav-logo">
    <img class="back" src="/images/BUTTON_DASHBOARD.png"/>
    <!--<img class="back" src="/images/BUTTON_BACK.png"/>-->
    <img class="logo" src="/images/concept-logo-small.png"/>
</nav>

<!-- apps -->
<nav class="nav-apps">
    <ul class="disabled">
        <li><img src="../static/images/ICON_BA_DISABLED.png" th:src="@{images/ICON_BA_DISABLED.png}"/></li>
        <li><img src="../static/images/ICON_MM_DISABLED.png" th:src="@{images/ICON_MM_DISABLED.png}"/></li>
        <li><img src="../static/images/ICON_MB_DISABLED.png" th:src="@{images/ICON_MB_DISABLED.png}"/></li>
        <li><img src="../static/images/ICON_SB_DISABLED.png" th:src="@{images/ICON_SB_DISABLED.png}"/></li>
        <li><img class="fm" src="../static/images/ICON_FM_DISABLED.png" th:src="@{images/ICON_FM_DISABLED.png}"/></li>
    </ul>
</nav>

<!-- placeholder -->
<nav class="nav-placeholder">
    <p><strong>&mdash; CONCEPT &mdash;</strong><br/>Collaborative creative<br/>design platform</p>
</nav>

<!-- dashboard -->
<div class="content-pre">
    <div class="header">
        <a href="/" class="btn btn-link btn-xs back-button" value="Back">&larr; Back</a>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="dashboard-login">

                <section id="login">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-wrap">

                                    <div th:if="${param.error}" class="alert alert-danger" role="alert">Wrong username
                                        or password.
                                    </div>
                                    <div th:if="${new_registration}" class="alert alert-success" role="alert"><p
                                            th:text="${new_registration}"></p></div>


                                    <h5 class="heading">Log in with your account</h5>
                                    <form role="form" th:action="@{/login}" method="post" id="login-form"
                                          autocomplete="off">
                                        <input th:if="${_csrf}" type="hidden" th:name="${_csrf.parameterName}"
                                               th:value="${_csrf.token}"/>
                                        <div class="form-group">
                                            <label for="username" class="sr-only">Email</label>
                                            <input type="text" name="username" id="username" class="form-control"
                                                   placeholder="Username" autofocus="true"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="key" class="sr-only">Password</label>
                                            <input type="password" name="password" id="password" class="form-control"
                                                   placeholder="Password"/>
                                        </div>

                                        <input type="submit" value="Login" class="btn btn-danger"/>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>

            </div>
        </div>
    </div>
</div>

</body>
</html>