<div th:fragment="mmContentList">
    <div class="panel-body no-padding"  th:if="${!#lists.isEmpty(mmContents)}">

        <div class="panel-body no-padding" >
            <table id="mm_table" class="table table-striped">
                <thead>
                    <tr>
                        <th class="col-md-3">Recent MindMaps</th>
                        <th class="col-md-4">User</th>
                        <th class="col-md-5"></th>
                    </tr>
                </thead>
                <tbody>            
                    <tr th:each="mmContent : ${mmContents}">
                        <td>
                            <form th:id="@{'mm-add-form' + ${mmContent.id}}" method="post" th:action="@{/mm_app}">
                                <input type="hidden" th:value="${mmContent.pid}" name="projectID" id="projectID" class="form-control"/>
                                <input type="hidden" th:value="${mmContent.id}" name="mindmapID" id="mindmapID" class="form-control"/>
                                <a id="mb-add" type="submit" th:onclick="@{ '$(\'#mm-add-form'+${mmContent.id} +'\').submit()'}"  ><img  src="/images/fm_generic_mm.png" class="img-thumbnail" /></a>
                            </form>
                        </td>
                        <td class="truncate"><span th:text="@{${mmContent.userCo.firstName} + ' '+ ${mmContent.userCo.lastName} + ' (' +  ${mmContent.userCo.username} +')'}"></span> <br/> <span th:text="${ #strings.substring(mmContent.createdDate,0,16)}"></span></td>
                        <td>
                            <button class="action-button" th:attr="onclick=@{'loadMetadata(' + ${mmContent.id}  +',\'MM\','+${mmContent.pid}+',this)'}">
                                <i class="glyphicon glyphicon-tags" aria-hidden="true"/>
                            </button>

                            <button class="action-button" th:attr="onclick=@{ 'deleteMM(' + ${mmContent.id}  +','+ ${mmContent.pid}+ ')' }" >
                                <i class="glyphicon glyphicon-trash" aria-hidden="true"/>
                            </button>

                            <span th:id="@{'MM' + ${mmContent.id} }" th:attr="onclick=@{'setIsPublic(\'MM\','+${mmContent.id} } +')' " th:classappend="(${mmContent.isPublic} == 1 ) ? ' icon-active' : ''"  class="glyphicon  glyphicon-eye-open"  aria-hidden="true"></span>&nbsp; 
                            <span th:id="@{'LikeMM' + ${mmContent.id} }" th:attr="onclick=@{'like(\'MM\','+${mmContent.id} } +')'" class="glyphicon glyphicon-thumbs-up" th:classappend="(${mmContent.hasLike(currentUser.getId())}) ? ' icon-active' : ''"  aria-hidden="true"></span> <span th:id="@{'LikeCountMM' + ${mmContent.id} }" th:text="${#arrays.length(mmContent.getLikes())}" class="label label-warning"></span>
                        </td>
                    </tr>  
                </tbody>
            </table>
        </div>

        <div class="panel-footer">
            <form id="mmAllForm" action="#" method="post" th:action="@{/mm_all}">
                <input type="hidden" th:value="${projectID}"  name="projectID" id="projectID" class="form-control"/>                
            </form>
            Mindmaps (<span th:text="${totalMindMaps}"></span>) - <a onclick="$('#mmAllForm').submit();" >View All</a>
        </div>

    </div>

    <div id="mm-placeholder" class="panel-body disabled" th:if="${#lists.isEmpty(mmContents)}" ></div>

</div>

<div th:fragment="mmContentAllList"  th:unless="${#lists.isEmpty(mmContents)}" >
    <div class="panel-body no-padding" >
        <table id="ba_table" class="table table-striped">
            <thead>
                <tr>
                    <th class="col-md-3">Recent Mindmaps</th>
                    <th class="col-md-6">Details</th>
                    <th class="col-md-3"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="mmContent : ${mmContents}">
                    <td><a th:href="@{'http://concept-mm.euprojects.net/wisemapping/c/maps/' +${mmContent.id} + '/' + ${currentUser.getId()} +  '/edit'}" target="_blank"><img src="/images/fm_generic_mm.png" class="img-thumbnail" /></a></td>
                    <td class="truncate"><span class="file-title" th:text="${mmContent.title}"></span><br/><span class="file-user" th:text="@{${mmContent.userCo.firstName} + ' '+ ${mmContent.userCo.lastName} + ' (' +  ${mmContent.userCo.username} +')'}"></span><br/><span class="file-timestamp" th:text="${#strings.substring(mmContent.createdDate,0,16)}"></span></td>
                    <td>
                        <button class="action-button" th:attr="onclick=@{ 'loadMetadata(' + ${mmContent.id}  +',\'MM\','+${mmContent.pid}+',this)'}">
                            <i class="glyphicon glyphicon-tags" aria-hidden="true"/>
                        </button>
                        <button class="action-button" th:attr="onclick=@{ 'deleteMMItem(' + ${mmContent.id}  +','+ ${mmContent.pid}+ ')' }" >
                            <i class="glyphicon glyphicon-trash" aria-hidden="true"/>
                        </button>
                        &nbsp;

                        <span th:id="@{'MM' + ${mmContent.id} }" th:attr="onclick=@{'setIsPublic(\'MM\','+${mmContent.id} } +')' " th:classappend="(${mmContent.isPublic} == 1 ) ? ' icon-active' : ''"  class="glyphicon  glyphicon-eye-open"  aria-hidden="true"></span>&nbsp; 
                        <span th:id="@{'LikeMM' + ${mmContent.id} }" th:attr="onclick=@{'like(\'MM\','+${mmContent.id} } +')'" class="glyphicon glyphicon-thumbs-up" th:classappend="(${mmContent.hasLike(currentUser.getId())}) ? ' icon-active' : ''" aria-hidden="true"></span> <span th:id="@{'LikeCountMM' + ${mmContent.id} }" th:text="${#arrays.length(mmContent.getLikes())}" class="label label-warning"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!--
    <div class="panel-footer" style="text-align:center">
        <a href="#" th:action="@{/load}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span> Load more</a>
    </div>

    <div class="panel-footer" style="text-align:center">
        <a href="#" th:action="@{/load}" class="btn btn-default btn-sm disabled"><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span> Nothing more to load</a>
    </div>
    -->

</div>