<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Preferences Analysis &mdash; CONCEPT</title>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />	
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

        <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css"
              th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
              rel="stylesheet" media="screen" />
        
        <link href="../static/css/dashboard.css" th:href="@{/css/dashboard.css}" rel="stylesheet" />
        <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css' />
    </head>
    <body>

        <!-- navbar -->
        <nav class="nav-main">
            <ul>
                <form id="dashboard-form" th:action="@{/dashboard}" method="post" >
                    <a href="#" onclick="addProjectIDToForm('dashboard-form');
                            $(this).closest('form').submit()">
                        <li class="main"><img src="/images/BUTTON_BACK.png" />Dashboard</li>
                    </a>
                </form>
            </ul>
        </nav>

        <!-- apps -->
        <nav class="nav-apps">
            <ul class="disabled">
                <li><img src="/images/ICON_BA_DISABLED.png" /></li>
                <li><img src="/images/ICON_FM_DISABLED.png" /></li>
                <li><img src="/images/ICON_SE_DISABLED.png" /></li>
                <li><img src="/images/ICON_MM_DISABLED.png" /></li>
                <li><img src="/images/ICON_MB_DISABLED.png" /></li>
                <li><img src="/images/ICON_SB_DISABLED.png" /></li>
            </ul>
        </nav>

        <!-- dashboard -->
        <div class="content">

            <div class="header">
                <a href="/" class="btn btn-link btn-xs back-button" value="Back">&larr; Back</a>
                
                <!-- Profile -->
                <div class="btn-group pull-right">
                    <div class="row col-md-12 pull-right">
                        <h5 th:inline="text" class="pull-right"> [[${currentUser.getFirstName()}]] [[${currentUser.getLastName()}]] ([[${currentUser.getUsername()}]]) </h5>
                    </div>
                    <div class="row col-md-12 pull-right">
                        <form th:action="@{/logout}" method="post" class="pull-right" style="margin-left:4px">
                            <button type="submit" class="btn btn-default btn-sm ">
                                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout
                            </button>
                        </form>

                        <!-- Preferences Button -->
                        <form th:action="@{/preferences}" method="get" class="pull-right" style="margin-left:4px">
                            <button type="submit" class="btn btn-default btn-sm ">
                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> 
                            </button>
                        </form>
                   
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="dashboard-login">

                        <section id="login">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-wrap">
                                            <div th:if="${cpResponse}" th:class=" (${#strings.equals(cpResponse.code, 'SUCCESS')} ? 'alert alert-success'   : 'alert alert-danger') " role="alert"><p th:text="${cpResponse.message}"></p></div>

                                            <h5 class="heading">Change your password</h5>
                                            <form role="form" th:action="@{/change-password}" method="post" id="login-form" autocomplete="off">
                                                <input th:if="${_csrf}" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                                <div class="form-group">
                                                    <label for="key" class="sr-only">Current Password</label>
                                                    <input type="password" name="currentPassword" id="currentPassword" class="form-control" placeholder="Current Password" />
                                                </div>
                                                
                                                <div class="form-group">
                                                    <label for="key" class="sr-only">New Password</label>
                                                    <input type="password" name="newPassword" id="newPassword" class="form-control" placeholder="New Password" />
                                                </div>

                                                <input type="submit" value="Change Password" class="btn btn-danger"/>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </section>

                    </div>
                </div>
            </div>
        </div>

        <script src="http://cdn.jsdelivr.net/webjars/org.webjars/jquery/1.11.3/jquery.min.js"
        th:src="@{/webjars/jquery/1.11.3/jquery.min.js}"></script>
        
        <script src="http://cdn.jsdelivr.net/webjars/org.webjars/bootstrap/3.3.5/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
        
        <script src="../static/js/util.js" th:src="@{/js/util.js}"></script>
        
    </body>
</html> 