<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register &mdash; CONCEPT</title>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <link href="../static/css/dashboard.css" th:href="@{/css/dashboard.css}" rel="stylesheet"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>
</head>
<body>

<!-- logo -->
<nav class="nav-logo">
    <img class="back" src="/images/BUTTON_DASHBOARD.png"/>
    <!--<img class="back" src="/images/BUTTON_BACK.png"/>-->
    <img class="logo" src="/images/concept-logo-small.png"/>
</nav>

<!-- apps -->
<nav class="nav-apps">
    <ul class="disabled">
        <li><img src="../static/images/ICON_BA_DISABLED.png" th:src="@{images/ICON_BA_DISABLED.png}"/></li>
        <li><img src="../static/images/ICON_MM_DISABLED.png" th:src="@{images/ICON_MM_DISABLED.png}"/></li>
        <li><img src="../static/images/ICON_MB_DISABLED.png" th:src="@{images/ICON_MB_DISABLED.png}"/></li>
        <li><img src="../static/images/ICON_SB_DISABLED.png" th:src="@{images/ICON_SB_DISABLED.png}"/></li>
        <li><img class="fm" src="../static/images/ICON_FM_DISABLED.png" th:src="@{images/ICON_FM_DISABLED.png}"/></li>
    </ul>
</nav>

<!-- placeholder -->
<nav class="nav-placeholder">
    <p><strong>&mdash; CONCEPT &mdash;</strong><br/>Collaborative creative<br/>design platform</p>
</nav>

<!-- dashboard -->
<div class="content-pre">
    <div class="header">
        <a href="/" class="btn btn-link btn-xs back-button" value="Back">&larr; Back</a>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="dashboard-login">

                <section id="login">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-wrap">
                                    <div th:if="${error}" class="alert alert-danger" role="alert"><p
                                            th:text="${error}"></p></div>

                                    <h5 class="heading">Create an account</h5>

                                    <form role="form" action="#" th:action="@{/register}" th:object="${user}"
                                          method="post" id="login-form" autocomplete="off">
                                        <div class="form-group">
                                            <label for="firstname" class="sr-only">First Name</label>
                                            <input type="text" th:field="*{firstname}" name="firstname" id="firstname"
                                                   class="form-control" placeholder="First Name" value=""
                                                   autofocus="true"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="lastname" class="sr-only">Last Name</label>
                                            <input type="text" th:field="*{lastname}" name="lastname" id="lastname"
                                                   class="form-control" placeholder="Last Name" value=""/>
                                        </div>
                                        <div class="form-group">
                                            <label for="email" class="sr-only">Email</label>
                                            <input type="email" th:field="*{mail}" name="mail" id="email"
                                                   class="form-control" placeholder="Email" value=""/>
                                        </div>
                                        <hr/>
                                        <div class="form-group">
                                            <label for="username" class="sr-only">Username</label>
                                            <input type="text" th:field="*{login}" name="login" id="username"
                                                   class="form-control" placeholder="Username" value=""/>
                                        </div>
                                        <div class="form-group">
                                            <label for="key" class="sr-only">Password</label>
                                            <input type="password" th:field="${password.hashedPassword}" name="key"
                                                   id="key" class="form-control" placeholder="Password" value=""/>
                                        </div>
                                        <hr/>
                                        <div class="form-group">
                                            <label for="role" class="sr-only">Project Role</label>
                                            <select th:field="${userrole.roleId}" id="roleId" name="roleId"
                                                    class="form-control" required="required">
                                                <option value="0" disabled="disabled" selected="selected">Please select
                                                    a role
                                                </option>
                                                <option value="3">Project Manager</option>
                                                <option value="4">Designer</option>
                                                <option value="5">Client</option>
                                            </select>
                                        </div>
                                        <input type="submit" value="Create Account" class="btn btn-danger"/>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

</div>

</body>
</html>