<div th:fragment="sbContentList">
    <div class="panel-body no-padding"  th:if="${!#lists.isEmpty(sbContents)}">

        <div class="panel-body no-padding" >
            <table id="sb_table" class="table table-striped">
                <thead>
                    <tr>
                        <th class="col-md-3">Recent Storyboards</th>
                        <th class="col-md-9">Details</th>
                    </tr>
                </thead>
                <tbody>            
                    <tr th:each="sbContent : ${sbContents}">
                        <td>
                            <form th:id="@{'sb-add-form' + ${sbContent.id}}" method="post" th:action="@{/sb_app}">
                                <input type="hidden" th:value="${sbContent.pid}" name="projectID" id="projectID" class="form-control"/>
                                <input type="hidden" th:value="${sbContent.id}" name="storyboardID" id="storyboardID" class="form-control"/>
                                <a id="sb-add" type="submit" th:onclick="@{ '$(\'#sb-add-form'+${sbContent.id} +'\').submit()'}"  ><img  th:src="${sbContent.contentThumbnail}" class="img-thumbnail" /></a>
                            </form>
                        </td>       

                        <td class="truncate"><span th:text="@{${sbContent.uid.firstName} + ' '+ ${sbContent.uid.lastName} + ' (' +  ${sbContent.uid.username} +')'}"></span> <br/> <span th:text="${ #strings.substring(sbContent.createdDate,0,16)}"></span>
                        <br/>
                            <button class="action-button" th:attr="onclick=@{'lo    adMetadata(' + ${sbContent.id}  +',\'SB\','+${sbContent.pid}+',this)'}">
                                <i class="glyphicon glyphicon-tags" aria-hidden="true"/>
                            </button>

                            <button class="action-button" th:attr="onclick=@{ 'deleteSB(' + ${sbContent.id}  +','+ ${sbContent.pid}+ ')' }" >
                                <i class="glyphicon glyphicon-trash" aria-hidden="true"/>
                            </button>

                            <span th:id="@{'SB' + ${sbContent.id} }" th:attr="onclick=@{'setIsPublic(\'SB\','+${sbContent.id} } +')' " th:classappend="(${sbContent.isPublic} == 1 ) ? ' icon-active' : ''"  class="glyphicon  glyphicon-eye-open"  aria-hidden="true"></span>&nbsp; 
                            <span th:id="@{'LikeSB' + ${sbContent.id} }" th:attr="onclick=@{'like(\'SB\','+${sbContent.id} } +')'" class="glyphicon glyphicon-thumbs-up" th:classappend="(${sbContent.hasLike(currentUser.getId())}) ? ' icon-active' : ''"  aria-hidden="true"></span> <span th:id="@{'LikeCountSB' + ${sbContent.id} }" th:text="${#arrays.length(sbContent.getLikes())}" class="label label-warning"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="panel-footer">
            <form id="sbAllForm" action="#" method="post" th:action="@{/sb_all}">
                <input type="hidden" th:value="${projectID}"  name="projectID" id="projectID" class="form-control"/>                
            </form>
            Storyboards (<span th:text="${totalStoryboards}"></span>) - <a onclick="$('#sbAllForm').submit();">View All</a>
        </div>

    </div>

    <div id="sb-placeholder" class="panel-body disabled" th:if="${#lists.isEmpty(sbContents)}" ></div>

</div>

<div th:fragment="sbContentAllList"  th:unless="${#lists.isEmpty(sbContents)}" >
    <div class="panel-body no-padding" >
        <table id="ba_table" class="table table-striped">
            <thead>
                <tr>
                    <th class="col-md-3">Recent Storyboards</th>
                    <th class="col-md-6">Details</th>
                    <th class="col-md-3"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="sbContent : ${sbContents}">
                    <td>
                        <form th:id="@{'sb-add-form' + ${sbContent.id}}" method="post" th:action="@{/sb_app}">
                            <input type="hidden" th:value="${sbContent.pid}" name="projectID" id="projectID" class="form-control"/>
                            <input type="hidden" th:value="${sbContent.id}" name="storyboardID" id="storyboardID" class="form-control"/>
                            <a id="sb-add" type="submit" th:onclick="@{ '$(\'#sb-add-form'+${sbContent.id} +'\').submit()'}"  ><img  th:src="${sbContent.contentThumbnail}" class="img-thumbnail" /></a><a id="copy-button" th:attr="data-clipboard-text=@{'http://concept.euprojects.net/sb_app/'+${sbContent.id}}" class="btn btn-default btn-xs pull-up">Get link</a>
                        </form>
                    </td>
                    <td class="truncate"><span class="file-title" th:text="${sbContent.title}"></span><br/><span class="file-user" th:text="@{${sbContent.uid.firstName} + ' '+ ${sbContent.uid.lastName} + ' (' +  ${sbContent.uid.username} +')'}"></span><br/><span class="file-timestamp" th:text="${#strings.substring(sbContent.createdDate,0,16)}"></span><br/><a th:text="@{'Comments (' + ${#lists.size(sbContent.comments)}     +')'   }" th:href="@{'/sb_all/' + ${projectID} + '/' + ${sbContent.id}}" class="text-success">Comments (0)</a></td>
                    <td>
                        <button class="action-button" th:attr="onclick=@{ 'loadMetadata(' + ${sbContent.id}  +',\'SB\','+${sbContent.pid}+',this)'}">
                            <i class="glyphicon glyphicon-tags" aria-hidden="true"/>
                        </button>

                        <button class="action-button" th:attr="onclick=@{ 'deleteSBItem(' + ${sbContent.id}  +','+ ${sbContent.pid}+ ')' }" >
                            <i class="glyphicon glyphicon-trash" aria-hidden="true"/>
                        </button>
                        &nbsp;
                        <span th:id="@{'SB' + ${sbContent.id} }" th:attr="onclick=@{'setIsPublic(\'SB\','+${sbContent.id} } +')' " th:classappend="(${sbContent.isPublic} == 1 ) ? ' icon-active' : ''"  class="glyphicon  glyphicon-eye-open"  aria-hidden="true"></span>&nbsp; 
                        <span th:id="@{'LikeSB' + ${sbContent.id} }" th:attr="onclick=@{'like(\'SB\','+${sbContent.id} } +')'" class="glyphicon glyphicon-thumbs-up" th:classappend="(${sbContent.hasLike(currentUser.getId())}) ? ' icon-active' : ''"  aria-hidden="true"></span> <span th:id="@{'LikeCountSB' + ${sbContent.id} }" th:text="${#arrays.length(sbContent.getLikes())}" class="label label-warning"></span>
                        <br/>
                        <form id="se-form" method="post" action="/search_similar" th:object="${sbContent}">
                            <input type="hidden" th:value="${sbContent.id}" name="cid"/>
                            <input type="hidden" th:value="${sbContent.pid}" name="project_id"/>
                            <input type="hidden" value="SB" name="cname"/>
                            <button type="submit" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-search" aria-hidden="true" style="position: relative; top:-1px"></i> Project</button>
                        </form>
                        <a style="margin-top:4px" th:href="@{'http://concept.euprojects.net/search_external?cid=' + ${sbContent.id} + '&amp;cname=SB&amp;source=flickr'}" target="_blank" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-search" aria-hidden="true" style="position: relative; top:-1px"></i> Flickr</a><br/>
                        <a style="margin-top:4px" th:href="@{'http://concept.euprojects.net/search_external?cid=' + ${sbContent.id} + '&amp;cname=SB&amp;source=vam'}" target="_blank" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-search" aria-hidden="true" style="position: relative; top:-1px"></i> V&amp;A Museum</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!--
    <div class="panel-footer" style="text-align:center">
        <a href="#" th:action="@{/load}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span> Load more</a>
    </div>

    <div class="panel-footer" style="text-align:center">
        <a href="#" th:action="@{/load}" class="btn btn-default btn-sm disabled"><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span> Nothing more to load</a>
    </div>
    -->

</div>