<div th:fragment="seContent">
    <div class="panel-body">

        <form id="se-form" action="#" method="post" th:action="@{/se_app}">
            <div class="form-group col-md-12">
                <label for="keyword">Keyword-based search <span class="badge">required</span></label>
                <input type="text" class="form-control" id="keyword" placeholder="Keyword-based search" required="true" />
            </div>
            
            <div class="form-group col-md-8 optional">
                <label for="keyword">Document Type</label>

                <select id="locale" name="locale" class="form-control">
                    <option value="">Choose</option>
                    <option value="en">Brief Analysis (BA)</option>
                    <option value="en">Images, PDF, etc. (FM)</option>
                    <option value="en">Mindmaps (MM)</option>
                    <option value="en">Moodboard (MB)</option>
                    <option value="en">Storyboards (SB)</option>
                </select>
                
            </div>

            <div class="form-group col-md-12">
                <button onclick="addProjectIDToForm('se-form')" type ="submit" class="btn btn-default">Search</button>
            </div>
        </form>

    </div>
</div>
