<div th:fragment="seContent">
    <div class="panel-body col-md-8 search-header">

        <form id="se-form" method="post" th:object="${search}" th:action="@{/se_app}">


            <!-- Project ID -->
            <input th:type="hidden" th:name="pid" th:field="*{pid}"/>



            <div class="col-md-5">

            <div id="main-search" class="form-group col-md-12">
                <label for="keyword">Content search</label>
                <input type="text" class="form-control" id="content" th:name="content"  th:field="*{content}" placeholder="Content search (Search content or title)"/>
            </div>

            <div class="form-group col-md-6">
                <label for="keyword">Document filter</label>
                <select th:field="*{component.id}" id="component" name="component" class="form-control">
                    <option value="">All</option>
                    <option  th:each="component : ${components}" th:value="${component.id}"  th:text="${component.name}"></option>
                </select>

            </div>

            <div class="form-group col-md-6">
                <label for="keyword">Keyword filter</label>
                <select th:field="*{keywords}"  id="keywords" name="keywords"  data-placeholder="Choose keywords" multiple='true' class="form-control chosen-select">
                    <option  th:field="*{keywords}" th:each="keyword : ${keywordsAll}" th:value="${keyword}"  th:text="${keyword}"></option>
                </select>

            </div>
            </div>

            <div class="col-md-4">

            <div class="form-group col-md-12">
                <label for="category-search">Category filter</label>
                <div id="category-search" ></div>
            </div>

                </div>

            <div class="col-md-3">

            <input th:type="hidden" name="categories" value="{}"  th:value="*{categories}"  id="categories"/>

            <div class="form-group col-md-12">
                <button type ="submit" class="btn btn-danger">Search</button>
            </div>

            </div>
        </form>
        <!-- Init a search based on an image -->
        <form id="search-upload" method="POST" enctype="multipart/form-data"  action="/search_upload">
            <input type="hidden" name="project_id" th:value="${project_id}" />
            <span class="btn btn-default fileinput-button">
                <i class="glyphicon glyphicon-plus"></i>
                <span>Search by image</span>
                <input id="file"  type="file" name="file"/>
            </span>
        </form>


    </div>
    <script>
        $("#se-form").submit(function (event) {
            $("#categories").val(JSON.stringify($('#category-search').tree('getState')));
            logger(JSON.stringify($('#category-search').tree('getState')));
        });

        $("#keywords").chosen();
        initCategorySearch();

        $("#file").change(function () {
            $("#search-upload").submit();
        });



    </script>
</div>
