<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Sketching &mdash; CONCEPT</title>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

        <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css"
              th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
              rel="stylesheet" media="screen" />

        <link href="http://cdn.jsdelivr.net/webjars/org.webjars/jquery-tagsinput/1.3.2/jquery.tagsinput.css"
              th:href="@{/webjars/jquery-tagsinput/1.3.2/jquery.tagsinput.css}"
              rel="stylesheet" media="screen" />

        <link href="http://cdn.jsdelivr.net/webjars/org.webjars.npm/jqtree/1.1.0/jqtree.css"
              th:href="@{/webjars/jqtree/1.1.0/jqtree.css}"
              rel="stylesheet" media="screen" />

        <link href="../static/css/dashboard.css" th:href="@{/css/dashboard.css}" rel="stylesheet" />
        <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css' />
    </head>
    <body>

        <!-- navbar -->
        <nav class="nav-main">
            <ul>
                <form id="sk-form" th:action="@{/dashboard}" method="post" >
                    <a href="#" onclick="addProjectIDToForm('sk-form');
                            $(this).closest('form').submit()">
                        <li class="main"><img src="/images/BUTTON_BACK.png" />Dashboard</li>
                    </a>
                </form>
            </ul>
        </nav>

        <!-- apps -->
        <nav class="nav-apps">
            <ul class="disabled">
                <li><img src="/images/ICON_FM_DISABLED.png" /></li>
                <li><img src="/images/ICON_BA_DISABLED.png" /></li>
                <li><img src="/images/ICON_SE_DISABLED.png" /></li>
                <li><img src="/images/ICON_MM_DISABLED.png" /></li>
                <li><img src="/images/ICON_MB_DISABLED.png" /></li>
                <li><img src="/images/ICON_SB.png" /></li>
            </ul>
        </nav>

        <!-- projects -->
        <nav class="nav-projects">
            <div class="btn-group project-selection">
                <select id="project-select" th:if="${!projects.isEmpty()}" class="btn btn-default disabled">
                    <option selected="true" value="0">Please select a project</option>
                    <option th:each="project : ${projects}" th:value="${project.id}" th:text="${project.name}"></option>
                </select>

                <select th:if="${projects.isEmpty()}" class="btn btn-default">
                    <option selected="true" disabled="true">No projects available</option>
                </select>

            </div>

            <div class="project-selection">

                <!-- Content to be showed only on project members (managers, designers, clients) -->
                <div th:switch="${currentUser.getRole()}">
                    <span th:case="'MANAGER'">

                        <form class="project-form" id="pm-add-form" action="#" method="post" th:action="@{/pm_app/add}">
                            <button onclick="addProjectIDToForm('pm-add-form')" type="submit" id="pm-add" href="" class="btn btn-success btn-xs">New Project</button>
                        </form>
                        <form class="project-form" id="pm-details-form" action="#" method="post" th:action="@{/pm_app/details}">
                            <button onclick="addProjectIDToForm('pm-details-form')" type="submit" id="project-view" href="" class="btn btn-default btn-xs">Projects Settings</button>
                        </form>
                        <div style="height: 10px;"></div>
                        <form class="project-form" id="pm-model-form" action="#" method="post" th:action="@{/pm_app/model}">
                            <button onclick="addProjectIDToForm('pm-model-form')" type="submit" id="project-model" href="" class="btn btn-link btn-xs">Model</button>
                        </form>

                    </span>
                    <span th:case="'DESIGNER'">
                        <form class="project-form" id="pm-details-form" action="#" method="post" th:action="@{/pm_app/details}">
                            <button onclick="addProjectIDToForm('pm-details-form')" type="submit" id="project-view" href="" class="btn btn-default btn-xs">Projects Settings</button>
                        </form>
                    </span>
                    <span th:case="'CLIENT'">
                        <form class="project-form" id="pm-details-form" action="#" method="post" th:action="@{/pm_app/details}">
                            <button onclick="addProjectIDToForm('pm-details-form')" type="submit" id="project-view" href="" class="btn btn-default btn-xs">Projects Settings</button>
                        </form>
                    </span>
                </div>

                <h5 id="project-members" class="highlight">Project Members<br/><small></small></h5>
            </div>

        </nav>

        <!-- Success Message -->
        <nav id="notification" th:if="null != ${success}" class="nav-actions">
            <div class="alert alert-warning alert-dismissible btn-actions" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span th:text="${success}"></span>
            </div>
        </nav>

        <!-- Error Message -->
        <nav id="notification" th:if="null != ${error}" class="nav-actions">
            <div class="alert alert-danger alert-dismissible btn-actions" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span th:text="${error}"></span>
            </div>
        </nav>

        <!-- Chat DIV -->
        <div th:include="chat :: chat-list"></div>

        <!-- dashboard -->
        <div class="content">
            <form  id="sk-form" class="form-inline" method="post" th:action="@{/sk_app_edit}" action="#" th:object="${sketch}">
                <div class="form-group document-title">
                    <input type="hidden" th:value="${projectID}"  name="projectID" id="projectID" class="form-control"    />
                    <input type="hidden" th:value="${sketch.id}" th:field="*{id}" class="form-control input-sm" id="sk-id" name="sk-id" size="50" value="SK_00001"/>
                    <input type="hidden" th:value="*{pid}" name="pid" id="pid" class="form-control"/>
                    <label for="document-title">Sketch Title</label>
                    <input th:value="${sketch.title}"  th:field="*{title}" type="text" class="form-control input-sm" id="document-title" name="document-title" size="50" placeholder="Untitled (Optional)"/>
                    <input type="submit" class="btn btn-xs btn-danger" value="Save content"   name="editSK" onclick="includeContent()"/>
                    <input id="document-content"  type="hidden" th:value="${sketch.content}" th:field="*{content}" name="document-content" />
                    <input id="content-thumbnail"  type="hidden" th:value="${sketch.contentThumbnail}" th:field="*{contentThumbnail}" name="content-thumbnail" />
                </div>
                <div class="literally"><canvas></canvas></div>
            </form>
        </div>

        <script src="http://cdn.jsdelivr.net/webjars/org.webjars/jquery/1.11.3/jquery.min.js"
        th:src="@{/webjars/jquery/1.11.3/jquery.min.js}"></script>

        <script src="http://cdn.jsdelivr.net/webjars/org.webjars/bootstrap/3.3.5/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>

        <script src="http://cdn.jsdelivr.net/webjars/org.webjars/Magnific-Popup/1.0.0/jquery.magnific-popup.min.js"
        th:src="@{/webjars/Magnific-Popup/1.0.0/jquery.magnific-popup.min.js}"></script>

        <script src="http://cdn.jsdelivr.net/webjars/org.webjars/jquery-tagsinput/1.3.2/jquery.tagsinput.min.js"
        th:src="@{/webjars/jquery-tagsinput/1.3.2/jquery.tagsinput.min.js}"></script>

        <script src="http://cdn.jsdelivr.net/webjars/org.webjars.npm/jqtree/1.1.0/tree.jquery.js"
        th:src="@{/webjars/jqtree/1.1.0/tree.jquery.js}"></script>

        <script src="http://cdn.jsdelivr.net/webjars/org.webjars/sockjs-client/1.0.2/sockjs.min.js"
        th:src="@{/webjars/sockjs-client/1.0.2/sockjs.min.js}"></script>

        <script src="http://cdn.jsdelivr.net/webjars/org.webjars/stomp-websocket/2.3.3/stomp.min.js"
        th:src="@{/webjars/stomp-websocket/2.3.3/stomp.min.js}"></script>

        <script src="../static/js/util.js" th:src="@{/js/util.js}"></script>
        <script src="../static/js/metadata.js" th:src="@{/js/metadata.js}"></script>
        <script src="../static/js/chat.js" th:src="@{/js/chat.js}"></script>

    </body>
</html>
